[2020-06-23 08:10] talentlessguy opened #1 "next() middleware function"
All the Express middleware supports `next()` function. Calling this function invokes the next middleware function in the app.

I'm not sure how to currently implement it so I would like to hear suggestions / examples.

PRs are also welcome

[2020-07-03 14:23] talentlessguy commented on #1
Implemented in https://github.com/talentlessguy/tinyhttp/commit/952a6ce46374fbbf499387331b0b2e7c46649fc9

[2020-07-03 14:23] #1 closed

[2020-07-11 00:43] talentlessguy opened #2 "Performance downgrade in comparison to Express"
At the moment, according to benchmarks, tinyhttp is ~2.5x slower than Express , and 4.17.

| framework             | req/s | transfer/sec |
| --------------------- | ----- | ------------ |
| tinyhttp@0.1.42       | 7845  | 827.36KB     |
| express@5.0.0-alpha.8 | 18172 | 2.27MB       |
| express@4.17.1        | 18678 | 2.33MB       |
| polka@0.5.2           | 22472 | 2.31MB       |

I will try to

[2020-07-11 00:59] talentlessguy commented on #2
I will try dropping different req / red extensions and see how bench changes, that's the easiest way to find out

[2020-07-12 14:21] talentlessguy commented on #2
Update: I removed `req.app` and `res.app` and switched a machine where I do benchmakrs, here are new results:

[code]

still a little bit slower than express but not a huge difference

[2020-07-13 02:25] talentlessguy commented on #2
Seems to no longer be an issue, closing it

| framework           | req/s | transfer/sec |
| ------------------- | ----- | ------------ |
| @tinyhttp/app (esm) | 8780  | 948KB        |
| @tinyhttp/app (cjs) | 8695  | 939KB        |
| express@4.17.1      | 6897  | 904KB        |
| polka@0.5.2         | 22831 | 2.47MB       |

[2020-07-13 02:25] #2 closed

[2020-07-14 20:29] talentlessguy opened #7 "[core] Template engines support"
**Is your feature request related to a problem? Please describe.**

at the moment tinyhttp doesn't have a direct template engine support that Express has.

**Describe the solution you'd like**

Would be cool to have `app.engine` and `app.render` methods being implemented. I need to think of the best approach, probably will analyze some existing solutions first.

**Additional context**

Express doc

[2020-07-14 20:33] talentlessguy opened #8 "[middleware] @tinyhttp/static resursive prop doesn't work"
**Describe the bug**

`recursive` prop doesn't make anything _recursive_. It still has 1-level depth. Should have max depth instead, with handling all the routes properly, e.g. `static/dir/file.js => /dir/file.js`

**Versions**

* `node`: 14.5.0
* `@tinyhttp/app`:  0.2.1

The bug seems to be very easy to fix, so PRs are welcome

[2020-07-14 22:23] talentlessguy opened #9 "[core] Add support for App as middleware"
**Describe the solution you'd like**

tinyhttp needs to have support of `app.use(Router)` and `app.use(App)` to be more compatible with express.

So we could do this:

[code]

and this:

[code]

**Additional context**

Polka.js implementation: https://github.com/lukeed/polka/blob/88f380272973019df5dc7c37611ac987bcd67d47/packages/polka/index.js#L50-61

[2020-07-14 23:14] talentlessguy opened #10 "[core] [middlewares] Cover everything in tests"
TODO list:

## Core

###  App

- [x] Should launch a basic server
- [x] Should chain middleware
- [x] Should respond on matching route
- [x] "*" should catch all undefined routes
- [x] should throw 404 on no routes
- [x] next function skips current middleware
- [x] next function handles errors
- [x] `app.locals` are get and set
- [x] Custom `noMatchHandler` works
- [x] Custom `onError` works
- [x]

[2020-07-14 23:54] talentlessguy opened #11 "[middlewares] Add `timestamp` option to logger"
Would be great if the logger could have an option to print out the timestamp via `timestamp` property.

something like

[code]

and then

[code]

I'm thinking of this option:

[code]

Probably could be consumed by some date library and then transformed into a timestamp

[2020-07-15 00:16] elianiva commented on #11
Would it be good if it also has a response time? Something like `GET / 200 OK - took 250.23ms`. Maybe include this as an option as well and you can choose whether to display the timestamp or this, or both.

[2020-07-15 00:31] talentlessguy commented on #11
@elianiva probably would be better to have it as a separate property, so not related to this issue. Gonna make a new one with this prop later.

[2020-07-15 02:25] creepinson opened #12 "Typescript +body-parser gives nextfunction error?"
**Describe the bug**
In the readme you said tinyhttp has "Full Express middleware support", but body-parser doesn't seem to work here as seen in the examples/auth folder in this repository.

[code]

**To Reproduce**
Steps to reproduce the behavior:

Use **typescript** and body-parser and tinyhtttp and use the following line:
[code]

**Expected behavior**
I expected it to not give an error about th

[2020-07-15 02:40] creepinson commented on #12
I also had this issue with my own middleware, seems like it wants the next function parameter of the middleware to be optional.  Doing `next?: NextFunction` instead of `next: NextFunction` seems to work, but not for other third-party middleware.

[2020-07-15 04:28] KalebMills commented on #11
`output [unit of time]` is somewhat ambiguous. Are these options attempting to achieve time formatting? If so, would it not be better to pass something like `format: 'HH:MM:SS'`?

[2020-07-15 06:49] talentlessguy commented on #12
Hi, thanks for the report. In README it meant not TypeScript support but *actual* support, still, I will need to fix it (the fix is very easy though, so PRs welcome)

I will fix the typings in the core soon to resolve the type conflict.

[2020-07-15 06:54] talentlessguy commented on #11
@KalebMills hm, it is actually a better idea

something like

[code]
`enabled` property, I think now it's not needed. We can just check if `timestamp` is object or Boolean (`true` in this case) and enable it. Otherwise there is no timestamp

[2020-07-15 07:37] talentlessguy commented on #12
@creepinson Should be fix now, with `0.2.4`:

[code]

[2020-07-15 12:48] talentlessguy opened #13 "[site] Finish writing "Main concepts" of the Learn guide"
atm the "Main concepts" section isn't completed yet. Need to finish writing it.

[2020-07-15 13:09] talentlessguy opened #14 "[cli] Implement CLI generator for tinyhttp apps"
For faster setup of tinyhttp it would be cool to have an CLI that boostraps a tinyhttp project.

It will use [cac](https://github.com/cacjs/cac) as a CLI framework. I started working on it here:

Here's a list of requiremenets

## Requirements

### Flags + file generation

- [x] Package manager detection, via `PATH` and special flags like `--pnpm`, `--yarn` and `--npm`
- [x] - `--eslint` should pi

[2020-07-15 13:12] talentlessguy opened #15 "Add READMEs to all of the examples"

[2020-07-15 13:14] talentlessguy opened #16 "Setup code coverage"
We surely need to have test coverage tool set up. I have a little experience with Codecov. Any recommendations for anything else?

[2020-07-15 13:18] talentlessguy opened #17 "Implement `res.sendFile`"
**Is your feature request related to a problem? Please describe.**

`res.sendFile` is commonly used in Express apps. tinyhttp must have one too.

**Describe the solution you'd like**

Implement `res.sendFile` based on existing `res.send` function

**Additional context**

Express docs reference: http://expressjs.com/en/5x/api.html#res.sendFile
Express implementation:  https://github.com/expressjs/e

[2020-07-15 21:04] creepinson commented on #12
It doesn't seem to work, it ives the same error about NextHandleFunction.  I think the body-parser function expects the next function to be defined, not optional.

I navigated to body-parser's dependency, connect, and in its type definitions the handler is like this:
`export type NextHandleFunction = (req: IncomingMessage, res: http.ServerResponse, next: NextFunction) => void;`
not this
` export t

[2020-07-15 23:05] talentlessguy commented on #12
@creepinson

the [example](https://github.com/talentlessguy/tinyhttp/blob/master/examples/auth/index.js) with working `body-parser` that has types doesn't throw errors (at least the editor didn't say anything)

I can't make `NextFunction` required, because it will break things in a very wide amount of cases.

Could you please provide what typescript version do you use?

Also, a side question, did

[2020-07-15 23:53] creepinson commented on #12
Hmm... I am using pnpm, and I know that the example works fine, that's why I'm confused as well. I am using typescript 3.9.6, which I'm pretty sure is the latest.

[2020-07-16 01:15] creepinson commented on #12
I don't know if this should go in a second issue but I'm also having trouble with  my custom async middleware...It seems to hang on loading the POST request and the logger middleware doesnt print anything related to that request. It also seems to block any app.use() lines after the line that is cuasing it to hang, which causes 404 to not work. I'm not sure what the problem is with my code (im usin

[2020-07-16 01:24] creepinson opened #20 "Router methods hang if one is called after another"
'm having trouble with my custom async middleware...It seems to hang on loading the POST request and the logger middleware doesnt print anything related to that request. It also seems to block any app.use() lines after the line that is cuasing it to hang, which causes 404 to not work. I'm not sure what the problem is with my code (im using async/await with bcrypt and mongodb) but it shouldnt block

[2020-07-16 08:40] talentlessguy commented on #20
@creepinson I didn't read the whole code, but you probably forgot to put `next()` in your middlewares. In most cases, middleware hangs when you forget to switch to the next one.

It's mentioned in the guide: https://tinyhttp.v1rtl.site/learn#execution-order

[2020-07-16 17:25] talentlessguy commented on #12
@creepinson

the example works fine without TS errors in the editor:

![image](https://user-images.githubusercontent.com/35937217/87701950-649e9d00-c7a1-11ea-888d-dc371bf42c44.png)

[2020-07-16 17:28] talentlessguy commented on #20
@creepinson I think I found the issue.

`@tinyhttp/jwt` is broken, it hangs infinitely for some reason. Here's an example of working async middleware: https://github.com/talentlessguy/tinyhttp/blob/57ba67c203fc0b24323a486f77daffceaf3696dd/examples/async/index.js

[2020-07-16 17:29] talentlessguy commented on #20
if my assumption is incorrect, please let me know

[2020-07-16 17:41] talentlessguy commented on #20
@creepinson that's hella weird

could you please try wrapping async await into try catches? maybe something will show up

[2020-07-16 18:10] creepinson commented on #20
The thing is, I'm pretty sure I already have try catches on everything.. and if theres an error it should be sending it back to the client...

and i just tried with your async example in my code, it hangs as well on /
[code]

[2020-07-16 18:22] talentlessguy commented on #20
@creepinson what Node version are u using?

I use 14.5.0 and it seems to be working just fine

[2020-07-16 18:26] creepinson commented on #20
Oh, I'm using 12.18.0, but don't know why that would cause an issue.

[2020-07-16 18:31] talentlessguy commented on #20
@creepinson hmmm interesting, maybe it's some bug that has been fixed in cutting edge versions.

could you please try with 14.5.0?

Using fnm for example:

[code]

[2020-07-16 18:40] creepinson commented on #20
Nope, it didn't fix it and I installed 14.5.0 with nvm and reinstalled pnpm.

[2020-07-16 18:44] talentlessguy commented on #20
@creepinson I don't know then, it doesn't seem to be broken for me :shrug:

I just went to `/tmp/app` and created this:

[code]

and then tried to access `/`, it responded with the file, `/efewg` with 404

[2020-07-16 18:49] creepinson commented on #20
Welp, here's the repo if you need it: https://github.com/creepinson/tinyhttp-monk-auth
If you want to set it up you'll need a mongodb database.

It seems like the readFile part works but not the register or login so it must be something with await or something... but I used try and catch everywhere possible. idk what i did wrong :/

[2020-07-16 19:05] talentlessguy commented on #20
@creepinson I just detected a bug: on first route non-match, e.g. accessing non existent route, it hangs, and after second time, it sends 404.

That's weird, and I'm trying to fix it rn

[2020-07-16 19:08] talentlessguy commented on #20
@creepinson sorry for constantly pinging but, could you try again with with the `0.2.8` version?

[2020-07-16 19:13] creepinson commented on #20
Oof.  I just tried it and it didnt seem to fix it... maybe it is something do to do with my code and not yours...

[2020-07-16 20:37] talentlessguy commented on #20
@creepinson that's bad :(

sorry for the bugs, will be trying to fix them asap

[2020-07-16 21:11] talentlessguy commented on #20
@creepinson okkaayy now, I think, I really fixed it. The problem was that a check that checks for middleware length didn't trigger because it contained the 404 handler in it. My bad. Now it should be working. Check it again please.

[code]

[2020-07-16 21:52] creepinson commented on #20
Welp it still happens.. i even tried just this
[code]
and then a 404 handler after it and doing /login hangs and doing /test (which should be a 404) hangs as well.

[2020-07-16 22:22] talentlessguy commented on #20
@creepinson could you please setup a very small demo with only related to a problem things? So I can read the code easier and try to investigate :)

[2020-07-16 22:29] talentlessguy commented on #20
ohhh one more bug unleashed. this is not working for some reason, sticks on a middleware and nothing happens after it. Probably related to previous bug. Working on finding a fix

[2020-07-16 22:41] creepinson commented on #20
lol ok...
well i was able to recreate it without using mongodb or anything:
https://github.com/creepinson/tinyhttp-example/blob/master/src/index.ts
If you go to /profile it works but posting /login does not.

[2020-07-16 22:45] talentlessguy commented on #20
@creepinson I am a dumbass... during all this time, the `loop()` function just didn't execute because it was not in the end of `handle` function, but in `if...elses`

I hope this time it will work. Please try it. One. more. time.

[code]

[2020-07-16 22:47] creepinson commented on #12
Maybe its because you don't have a tsconfig or .ts file? I could be wrong about that though. Anyways setting strictFunctionTypes to false in tsconfig.json removes the error - so it works, but it might not be the best solution.

[2020-07-16 22:52] creepinson commented on #20
![image](https://user-images.githubusercontent.com/11761863/87730321-41152b80-c77c-11ea-8e8a-408ad178544f.png)
YES! I think you finally solved it 😂
I just need to test it with the more complicated version that I made now...

[2020-07-16 23:04] creepinson commented on #20
(node:33020) UnhandledPromiseRejectionWarning: Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client

Well I think the original error is gone now though. but this  is interesting... it sends a 404 but i only have two places that could happen, one being at the end of the whole chain of app.*'s and then one in an auth middleware, but im not using that in /login which is

[2020-07-16 23:05] creepinson commented on #20
Hmm, i changed app.use() in my 404 error handler to app.get() and the error is different now.

[2020-07-16 23:10] talentlessguy commented on #20
@creepinson glad to hear it's fixed! Even though the original issue was about another thing, I will just open new one for jwt specifically. And rename current one.

[2020-07-16 23:11] #20 closed

[2020-07-16 23:13] talentlessguy commented on #12
@creepinson the example doesn't even use TS. It's JavaScript. Still, there's no error :thinking:

altho I cannot reproduce it at all. maybe it's a VS Code issue, try updating it.

[2020-07-16 23:34] #16 closed

[2020-07-16 23:42] talentlessguy opened #21 "Examples"
Here's a list of examples to be added:

- [x] Async
- [x] Cookie
- [x] Auth (JWT)
- [x] Basic
- [x] DevServer
- [x] No match handler
- [x] Preact SSR
- [x] TypeScript
- [x] MongoDB
- [x] React SSR (#109)
- [x] GraphQL
- [ ] [Real-world](https://github.com/gothinkster/realworld) app (#147)
- [x] Multi-process
- [x] Serverless lambda (deployed on Vercel)
- [x] HTTP/2
- [x] HTTPS
- [x] Vue SSR
- [x]

[2020-07-16 23:47] creepinson opened #22 "404 when passing more than 1 middleware to app.method"
Sooooo,
I am having a new issue: the first response gives an actual error/result (which is expected), but on the second request it responds with my 404 noMatchHandler.. It doesn't matteer what the url is on the second request, it just sends the 404 and then complains the headers are already sent.

[2020-07-16 23:50] talentlessguy commented on #22
@creepinson once again I will need a reproducible demo :)

[2020-07-16 23:58] talentlessguy opened #23 "Setup Husky pre-commit hook"

[2020-07-17 00:19] talentlessguy opened #24 "Add the rest of HTTP methods to Router"
**Is your feature request related to a problem? Please describe.**

At the moment [Router](https://github.com/talentlessguy/tinyhttp/blob/master/packages/app/src/router.ts) only has a few methods that can be used. There must be all of them.

**Describe the solution you'd like**

Copy paste some method and change it's name.

to get a full list of methods:

[code]

**Additional context**

[router.ts

[2020-07-17 10:54] talentlessguy opened #25 "Express body-parser doesn't parse the body"
**Describe the bug**

With using Express `body-parser`, neither `bodyParser.json` nor `bodyParser.urlencoded` work. Instead of a body will with data we get `{}`

**To Reproduce**
Steps to reproduce the behavior:

[code]

and then in terminal:

[code]

**Expected behavior**

`req.body` would be filled with data

**Versions**

* `node`: 14.5.0
* `@tinyhttp`: 0.2.12

**Additional context**

[body-par

[2020-07-17 18:16] creepinson commented on #22
Oof, I installed the latest version of @tinyhttp/app and got this on almost every page except for /profile....
![image](https://user-images.githubusercontent.com/11761863/87818157-fbf60580-c81e-11ea-9cde-5a6dbd44666d.png)

[2020-07-17 19:07] talentlessguy commented on #22
@creepinson interesting, there is some external module made by you. Could you please make a *route-only* demo that I can try?

Also, body-parser doesn't work. See #25

[2020-07-18 11:17] Arnovsky commented on #11
I would like to take this issue if possible, would adding a dependency (something like `day.js`) for handling formatting of dates be acceptable?

[2020-07-18 12:31] talentlessguy commented on #11
@Arnovsky a dependency is fine, and it should be disabled by default, and enabled in case `timestamp` property exists.

[2020-07-18 15:05] #11 closed

[2020-07-18 21:03] talentlessguy opened #36 "Middleware dispatch algorithm is wrong"
At the moment, some Express middlewares don't work. Sometimes appending middlewares leads to non of them handling the server and resulting in 404 Not Found.

This is what we have now:

https://github.com/talentlessguy/tinyhttp/blob/0ce614319949cb03dc1a8f1298da1a1ecf35fda5/packages/app/src/app.ts#L54-L115

The `app.handler` function must be redone.

I don't know yet how, so feel free to suggest dow

[2020-07-18 21:07] #15 closed

[2020-07-19 16:14] Arnovsky opened #38 "Use a logging library as a logger implementation instead of console.log"
**Is your feature request related to a problem? Please describe.**
I feel that using something like `pino` or `winston` will be best for logging purposes, since there is no need to create our own logger and reinvent the wheel.

**Describe the solution you'd like**
Rewrite the current logger package to use a fully-featured logging library.

**Describe alternatives you've considered**
Using `console

[2020-07-19 16:42] talentlessguy commented on #38
We could add an option called `output` which would be a function that accepts only one arg, like this:

[code]

or like this:

[code]

and then in the logger:

[code]

About re-inventing the wheel. That was the point. `@tinyhttp/logger` is a basic logger that will fit to most cases, but for something advanced it's recommended to use Pino. It's written in the readme. We can add the `output` option

[2020-07-19 16:48] Arnovsky commented on #38
Cool, I'll make a PR.

[2020-07-19 16:51] talentlessguy commented on #38
@Arnovsky nice, looking forward to it

[2020-07-19 17:55] talentlessguy commented on #22
@creepinson is it still relevant?

[2020-07-19 20:26] talentlessguy commented on #25
Temporary workaround: using [parsec](https://github.com/talentlessguy/parsec)

[2020-07-19 20:44] #38 closed

[2020-07-19 23:25] talentlessguy commented on #25
After some magic happening, it now works:

[code]

[2020-07-19 23:25] #25 closed

[2020-07-19 23:26] talentlessguy commented on #36
I tried to work on it more to make it less buggy, looks like I did some good job. Even body-parser works.

[2020-07-20 10:28] talentlessguy commented on #36
still wrong >:( it doesn't work whe many wares try to write to the response

[2020-07-20 10:57] #36 closed

[2020-07-20 23:24] talentlessguy commented on #24
Completed with #39 and #44 :tada:

[2020-07-20 23:24] #24 closed

[2020-07-20 23:24] talentlessguy commented on #10
With #44 getting merged, the whole Router is covered

[2020-07-21 12:13] talentlessguy commented on #22
I'm not sure if it is still relevant, so closing

feel free to re-open if it persists

[2020-07-21 21:47] talentlessguy opened #47 "Middleware"
tinyhttp offers a list of pre-made middleware, to ease maintainability and provide better compatability and types.

Here will be a full list of middlewares to be implemented:

- [x] logger
- [x] static
- [x] markdown
- [x] cors
- [x] jwt
- [x] cookie-parser
- [x] [body parser](https://github.com/talentlessguy/parsec)
- [x] session
- [x] ip-filter
- [x] favicon
- [x] ping (response time metric + se

[2020-07-23 13:32] #12 closed

[2020-07-23 21:36] tracker1 opened #48 "[Feature] Precompressed static content"
Reduce transmission overhead by delivering precompressed (gz/br) versions of static content when the request header indicates support

Expand the static middleware to support serving pre-compressed files with the appropriate headers.

[2020-07-23 21:39] tracker1 opened #49 "[Feature] @tinyhttp/static - Support for client-caching requests"
A middleware to be used with static that would support for if-modified-since header with a 304 response

This middleware should also support the use of E-Tags

This should be based on a non-pre-compressed file's details.

[2020-07-23 21:58] talentlessguy commented on #48
Ohh hello there

I added 'gzip' and 'brotli' middlewares to the list of stuff to implement

but extending static server sounds interesting

Could you please show any existing static servers (that can be used as middleware) supporting them?

I thought that making custom static servers with compression would make more sense

e.g. this:

[code]

[2020-07-23 22:00] talentlessguy commented on #49
Hmmm could you please show anything like this for Express / Koa / Fastify?

Want to explore how other folks implemented this

Also, PRs welcome 👍

[2020-07-24 12:07] talentlessguy commented on #47
# Short descriptions of all of the to-be-implemented modules

## `@tinyhttp/graphql`

GraphQL API Server, same as [express-graphql](https://github.com/graphql/express-graphql) (we can add / remove  features though)

## `@tinyhttp/apollo`

GraphQL Apollo Server,  similar to [apollo-server-express](https://github.com/apollographql/apollo-server)

## `@tinyhttp/session`

Simple session middleware, si

[2020-07-24 15:06] Arnovsky commented on #49
@talentlessguy Don't think this should be a new middleware, IMO this needs to be baked in the `static` package.

[2020-07-24 16:27] talentlessguy commented on #49
@Arnovsky interesting, we could add an option `caching` that defaults to `true` and sets all proper headers

[2020-07-24 16:38] Arnovsky commented on #49
@talentlessguy is there any scenario where you don't want to cache static files?

[2020-07-24 17:00] talentlessguy commented on #49
@Arnovsky probably while doing site development when u want the cache to be turned off completely

[2020-07-24 17:43] Arnovsky commented on #49
@talentlessguy I don't think that's a valid use-case (since you could just force refresh the browser), but I have looked into other framework implementations, and they allow it to be optionally disabled.

[2020-07-24 18:35] talentlessguy commented on #49
@Arnovsky hmmm ok then better have it as an option *just in case*

feel free to PR to add a new property :D

[2020-07-27 02:28] creepinson commented on #22
Ok, well I'm still getting a 404 error and it seems to be with using multiple middlewares like so:

My "test" middleware:
``ts
async function test(req: Request, res: Response, next?: NextFunction) {
	console.log(`req body: ${JSON.stringify(req.body)}`);
	next!();
}
[code]

where the test middleware is supposed to be executed and then after it is called my register middleware in the rest of my code

[2020-07-27 02:38] creepinson commented on #22
Ok, I've managed to create a simple demo: https://github.com/creepinson/tinyhttp-example

Output from the demo:
[code]

[2020-07-27 23:40] creepinson commented on #22
I don't think I can reopen this issue manually, I think you have to do it for me.

[2020-07-28 05:55] talentlessguy commented on #22
@creepinson, OK reoping

I won't be able to help ya for ~2 weeks so pls be patient :)

[2020-08-07 12:57] talentlessguy commented on #22
Ok, I'm back here

the issue comes from when there are more than 1 wares passed to `app.method`

will look into this very soon

[2020-08-12 12:02] talentlessguy opened #50 "Transfer to an org"
Once the repo hits ~500 stars I think it is a good time to transfer it to a separate org, along with all es-* modules

and all new es-* things for the ecosystem will be created in there

for now tinyhttp will be still here

[2020-08-12 19:05] #22 closed

[2020-08-12 19:13] talentlessguy commented on #22
@creepinson should be fixed now, in this code:

https://github.com/talentlessguy/tinyhttp/blob/53043780f23a716b2664a71c6b367b2dd0e941ec/packages/app/src/router.ts#L91-L98

please check

[2020-08-13 02:40] creepinson commented on #22
seems to be working with my small example :D
I will also try my larger example but I think it might be fixed.

[2020-08-15 01:23] creepinson commented on #47
I would like to see session implemented, so I might try doing it myself. Also, is there any support for view engines like EJS or PUG?

[2020-08-15 09:27] talentlessguy commented on #47
@creepinson good luck with the session middleware!

for template engines, see https://github.com/talentlessguy/tinyhttp/issues/7

[2020-08-18 18:08] talentlessguy opened #51 "Add badges option to @tinyhttp/logger"
**Is your feature request related to a problem? Please describe.**

It adds emoji badges for better readability

**Describe the solution you'd like**

Add `badges` setting with 2 sub-settings to be used like this:

[code]

Default values are both false - if `badges: true` - only toggle emoji. if an object is present - check for the settings.

first setting toggles emoji badges, like this :warning:

[2020-08-18 18:11] talentlessguy opened #52 "Move from Jest to faster alternative"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2410%20Funded-%2300A156.svg" />](https://issuehunt.io/r/talentlessguy/tinyhttp/issues/52)

Jest contains a lot of useless polyfills and has a lot of functionality we don't use. Waiting for [uvu](https://github.com/lukeed/uvu) to write the migration guide, once it is ready will move to it.

---

<details>
<summary>
<b>IssueHu

[2020-08-18 18:11] talentlessguy commented on #10
Related - #52

[2020-08-21 00:23] tracker1 commented on #48
IIRC, koa's static module will look at the Accept-Encoding request header[1] and will use that to see if br or gzip are set... then for whatever the static resource is, if there's a file matching NAME.gz or NAME.br it will send that with the `Content-Encoding` response header set to `br` or `gzip` respectively and the length set to the pre-compressed content.

It should probably be in the box with

[2020-08-27 02:43] ahmad-reza619 commented on #51
Hi there @talentlessguy , i would like to try these on, is this mean to create a new type of middleware?

[2020-08-27 07:13] talentlessguy commented on #51
@ahmad-reza619 hello, nope, as labeled on the issue, it should be done inside `@tinyhttp/logger`

I have a mistake in the original code that leads to confusion, my bad

[2020-08-27 07:23] ahmad-reza619 commented on #51
I'm sorry for not noticing the label 😅

[2020-08-27 08:58] talentlessguy commented on #51
@ahmad-reza619 it's fine, you can make a PR at any time you want, and the setup instructions for this repo are in CONTRIBUTING.md file

let me know if you have any questions and don't be afraid to ask them here

[2020-08-27 12:04] RocktimSaikia commented on #23
@talentlessguy Is this issue still open? If it is can I work on it ?

[2020-08-27 14:53] talentlessguy commented on #23
@RocktimSaikia yes it is, made this one for myself, but it's ok if you do it.

I want to setup a pre-commit hook that would run a linter and tests before commiting

So we should make a `lint` npm script with `eslint ./**/*/src/*.{ts,js}` (or any other glob to match all ts and js code)

Also make a script to run linter and tests, e.g. `pre-commit` script maybe (any other name would fit)

Then, inst

[2020-08-27 15:02] RocktimSaikia commented on #23
@talentlessguy Right. I also had the same idea. Currently, it does not have a separate script for linting so I was gonna create the script and add it to the `pre-commit` hook along with the test script. But I was not sure about adding the build scripts so waited for your comment before doing any more work on that

[2020-08-27 16:10] RocktimSaikia commented on #23
@talentlessguy For some reason, most of the tests are failing even tho I haven't even changed any of the code yet. Just running the test script alone logs a ton of failing tests. Also, I did follow [the installation guide](https://github.com/talentlessguy/tinyhttp/blob/master/CONTRIBUTING.md) provided here so not sure what's causing the tests to fail. Can you tell what might be causing these error

[2020-08-27 19:47] talentlessguy commented on #23
@RocktimSaikia the reason why tests fail is that I need to update the contributing guide...

try running `pnpm i -r` and `pnpm build -r`, these should work

[2020-08-27 20:14] RocktimSaikia commented on #23
@talentlessguy  I already tried all of the command solutions. But still the same. Do I need to specifically set some env file configs to run it locally? I think some of the packages are not building upon running the build command. Probably that's why It can't find `its corresponding type declarations` !!

![Screenshot_1](https://user-images.githubusercontent.com/33410545/91490127-92fab680-e8cf-11e

[2020-08-28 04:53] ahmad-reza619 commented on #51
@talentlessguy what about 3XX status code?

[2020-08-28 04:56] ahmad-reza619 commented on #51
and also, for captions what should be logged? the status or emoji name?

[2020-08-28 08:35] talentlessguy commented on #51
not sure which emoji to pick, will write back here latter

[2020-08-28 08:36] talentlessguy commented on #51
I meant alt text for emoji symbols, it can be found on Emojipedia

[2020-08-28 14:09] talentlessguy commented on #23
@RocktimSaikia try reloading TS Server (Ctrl + Shift + P -> Reload TS Server) in VS Code

[2020-08-28 14:12] talentlessguy commented on #23
Closed with #53 :rocket:

[2020-08-28 14:12] #23 closed

[2020-08-28 14:18] talentlessguy commented on #51
@ahmad-reza619 pardon for changing requiremenets, I think instead of coming up with our own emojis (and having to think which ones suit better) we better use this module:

https://github.com/bendrucker/http-status-emojis/blob/master/index.js

[2020-08-28 14:27] RocktimSaikia opened #54 "Optimize the overall site for mobile view."
**Describe the bug**

Most of the current pages of the site are not responsive. It can be said that no one actually gonna read API docs in mobile but making the site at least responsive is quite important.

**Add any other context about the problem here.**

![Screenshot_3](https://user-images.githubusercontent.com/33410545/91579022-a148e100-e968-11ea-837e-7038f9d6adf0.png)

[2020-08-28 14:31] ahmad-reza619 commented on #51
@talentlessguy what about the alt text?

[2020-08-28 14:42] talentlessguy commented on #54
Yeah, didn't have time to make it responsive, will spend some to make it look good on phones

in case you want to work on it, you need to go to `site` folder and run `pnpm i -D @tinyhttp/app` there (to trigger `pnpm` to install packages)

and then go to `static/styles/home.css` and write media queries for mobile

[2020-08-28 14:50] RocktimSaikia commented on #54
@talentlessguy Yeah I am working on it.

[2020-08-28 15:30] talentlessguy commented on #48
@tracker1 interesting, will look into this soon

[2020-08-28 15:58] talentlessguy commented on #51
@talentlessguy tbh I'm not sure about that we need it now... maybe it's useless?

I mean something like

[code]

doesn't make much sense

probably not worth adding it, just the emoji then

[2020-08-29 00:10] talentlessguy commented on #54
Closed with #57

[2020-08-29 00:10] #54 closed

[2020-08-29 02:16] RocktimSaikia commented on #21
@talentlessguy I don't see `CouchDB` in the list !?

[2020-08-29 10:42] RocktimSaikia commented on #21
@talentlessguy ping

[2020-08-29 11:54] talentlessguy commented on #21
@RocktimSaikia ohh my bad, I meant RethinkDB

[2020-08-29 12:02] RocktimSaikia commented on #21
@talentlessguy lol ok. So we don't need CouchDB examples ?

[2020-08-29 12:15] talentlessguy commented on #21
@RocktimSaikia can add CouchDB as well. The more examples we have, the better

[2020-08-29 12:36] RocktimSaikia commented on #21
@talentlessguy  is the use of es6 import statements necessary in the examples? Can we not use commonjs `require`?

[2020-08-29 14:43] #51 closed

[2020-08-29 14:58] talentlessguy commented on #51
@all-contributors please add ahmad-reza619 for code

[2020-08-29 23:28] talentlessguy commented on #9
Was partitially implemented in https://github.com/talentlessguy/tinyhttp/commit/ce2dd51e510b042e1e404238332ec136511fb39a

[2020-08-30 00:11] talentlessguy commented on #21
@RocktimSaikia it is necessary

for CJS imports use `import mod from 'mod'`

[2020-08-30 04:08] ahmad-reza619 commented on #17
Hi @talentlessguy i would like to take this on, is the shape of sendFile function has to be just like express?

[2020-08-30 06:49] RocktimSaikia commented on #21
@talentlessguy I am currently working on `couchDB` but when testing it `POST` requests I am getting the form data as unfiltered strings not as JSON objects!?!
[ps: I am using `parsec` middleware.]

![Screenshot_2](https://user-images.githubusercontent.com/33410545/91653080-d2d1c180-eaba-11ea-9ace-b6bfdfea72dd.png)

[2020-08-30 08:33] talentlessguy commented on #17
@ahmad-reza619 yeah must work the same

code might differ

[2020-08-30 08:35] talentlessguy commented on #21
@RocktimSaikia use Express `body-parser` then

[2020-08-30 11:00] talentlessguy commented on #17
@ahmad-reza619 also, if possible, it shouldn't introduce any new dependencies

[2020-08-30 11:07] ahmad-reza619 commented on #17
is this sendFile function will be able to send any kind of file? like maybe mp3 file?

[2020-08-30 11:08] ahmad-reza619 commented on #17
From what i see from express test case, it looked like it only send file with text inside it

[2020-08-30 14:19] talentlessguy commented on #17
@ahmad-reza619 hmmm I think u're right but I by myself can't undertsand whether it sends a file with Content-Disposition header to download it, or just raw file

need to investiage more and re-check the implementation

[2020-08-30 14:57] talentlessguy opened #63 "Implement req.ip and req.ips"
Express reference:

* `req.ip`: https://expressjs.com/en/4x/api.html#req.ip
* `req.ips`: https://expressjs.com/en/4x/api.html#req.ips

Express implementation:

* `req.ip`: https://github.com/expressjs/express/blob/master/lib/request.js#L349
* `req.ips`: https://github.com/expressjs/express/blob/master/lib/request.js#L366

should be put in `networkExtensions`

[2020-08-30 15:12] RocktimSaikia commented on #63
@talentlessguy  I am working on it

[2020-09-01 19:23] talentlessguy commented on #63
Implemented by @RocktimSaikia and documented by @talentlessguy in 23f87295283a685f97d24ad1ee19f5ff7440e7dc

[2020-09-01 19:23] #63 closed

[2020-09-02 23:23] talentlessguy commented on #9
not sure if Router also should be used as a ware, so closing it as it is implemented already

[2020-09-02 23:23] #9 closed

[2020-09-08 21:03] talentlessguy opened #65 "Allow to pass an array of middlewares"
**Is your feature request related to a problem? Please describe.**

rn tinyhttp only allows to pass a list of wares as arguments but we also need to have support of arrays to be closer to Express.

**Describe the solution you'd like**

Add `Handler[]` to the `use` function argument union and handle a case when an argument is an array

**Additional context**

[Piece of code in where middleware gets

[2020-09-08 22:09] creepinson commented on #47
I never really finished writing the session middleware - so don't count on me to finish it. I might still try though.

[2020-09-09 13:31] talentlessguy commented on #47
@creepinson for rate limiting, gonna add

for session middleware - it's ok I'll either implement it myself or ask someone else

[2020-09-10 14:07] talentlessguy opened #66 "Figure out why Github actions is getting stuck for many hours"

[2020-09-12 08:11] #13 closed

[2020-09-12 13:45] talentlessguy commented on #47
@creepinson `@tinyhttp/session` is available now

[2020-09-14 14:53] talentlessguy commented on #65
Implemented support for `router.use` in 8318ad3d8d28c4d50b6b1d055bf5653320da16d8

for router methods there's no support yet, because it's hard to manage types

might get implemented later

[2020-09-14 20:02] talentlessguy commented on #7
Almost everything is implemented, the only thing left is caching support and helper packages for most popular engines

[2020-09-16 13:22] talentlessguy commented on #10
Closing because it's easier to just track it via coverage and not a todo list

[2020-09-16 13:22] #10 closed

[2020-09-16 13:48] #7 closed

[2020-09-17 21:57] talentlessguy opened #74 "Move from Supertest to node-supertest-fetch"
link: https://github.com/jwalton/node-supertest-fetch

[2020-09-17 21:58] talentlessguy opened #75 "Setup commitizen"

[2020-09-17 21:59] talentlessguy commented on #17
implemented in 2bba94ce9ee521a3bc10d448757c73889f6f8e1c, but not 1:1 to express

need more time to make it have the same API

[2020-09-18 16:25] talentlessguy commented on #74
done in 3dada73f273b3ca72f851b325a8289d9c0cd1293 :sparkles:

[2020-09-18 16:25] #74 closed

[2020-09-18 17:49] talentlessguy commented on #49
yo, I decided to remove the static package because it requires too much work outside of the framework,

and alternatives are [shown here](https://tinyhttp.v1rtl.site/learn#static-server)

[2020-09-18 17:49] #49 closed

[2020-09-18 17:49] talentlessguy commented on #8
yo, I decided to remove the static package because it requires too much work outside of the framework,

and alternatives are [shown here](https://tinyhttp.v1rtl.site/learn#static-server)

[2020-09-18 17:49] #8 closed

[2020-09-18 17:50] talentlessguy commented on #48
yo, I decided to remove the static package because it requires too much work outside of the framework,

and alternatives are [shown here](https://tinyhttp.v1rtl.site/learn#static-server)

[2020-09-18 17:50] #48 closed

[2020-09-18 18:35] talentlessguy commented on #75
Added commitlint instead

[2020-09-18 18:35] #75 closed

[2020-09-18 18:36] talentlessguy commented on #17
I think it's implemented properly, if anyone has suggestions, feel free to write here and I will re-open the thread

[2020-09-18 18:36] #17 closed

[2020-09-19 08:49] talentlessguy opened #77 "Express API implementation TODO"
This is the issue to track progress of Express API implementation

## App

### Properties

- [x] `app.locals`
- [x] `app.mountpath`

### Methods

- [x] `app.all()`
- [x] `app.engine()`
- [x] `app.listen()`
- [x] ~`app.param()`~ (#162) [deprecated in Express 4.11.0]
- [x] `app.path()`

* [x] `app.render()`
* [x] `app.route()` (#94)
* [x] `app.set()`
* [x] `app.use()`

HTTP Methods

- [x] checkout
-

[2020-09-19 09:12] talentlessguy opened #78 "Replace `proxy-addr` with `es-proxy-addr`"

[2020-09-22 20:27] talentlessguy opened #79 "Automate releases and git tags"
Automate github releases through github actions, using `changesets` (already in the project) and git tags

## Resources

https://github.com/actions/create-release

https://ubuntu.com/blog/automating-our-vanilla-releases-with-github-actions

https://github.com/marketplace/actions/automatic-releases

[2020-09-24 18:51] talentlessguy opened #80 "Rethink `res.download` and `res.sendFile`"
Originally, in Express, `res.download` and `res.sendFile` accept callbacks. Callbacks are a mess, esp. when everything else works with `async` / `await`

I need to think how to make it more beatiful that it will use async / await instead of callbacks, probably will reject with an error and resolve once a `sendFile`'s stream finishes.

maybe something like this:

[code]

feel free to suggest your o

[2020-09-24 19:05] talentlessguy opened #81 "Create `@tinyhttp/jsonp`"
Write a `res.jsonp` function in a separate package, like `@tinyhttp/send` but for JSONP specifically

express docs: https://expressjs.com/en/4x/api.html#res.jsonp

express impl: https://github.com/expressjs/express/blob/master/lib/response.js#L282

[2020-09-25 22:36] talentlessguy opened #84 "Improve website SEO"
Improve OpenGraph / other meta tags in the website for better search

[2020-09-27 15:09] mhmda-83 opened #85 "Heroku don't work with tinyhttp"
**Describe the bug**

I write a simple web service using tinyhttp and i decided to deploy on heroku.
but guess what, heroku don't compatible with tinyhttp.
when i replaced tinyhttp with express, everything works fine.

**To Reproduce**

Steps to reproduce the behavior:

1. write webservice
2. add Procfile
3. set web: yarn start
4. git add -A
5. git push heroku master

**Expected behavior**

Workin

[2020-09-27 15:15] talentlessguy commented on #85
how exactly it "doesn't  work"? are there any errors showing up?

[2020-09-27 15:16] mhmda-83 commented on #85
Application crashed with this log:
Error R10 -> Web process failed to bind to $PORT within 60 seconds of launch

[2020-09-27 15:16] mhmda-83 commented on #85
Application crashed with this log:
Error R10 -> Web process failed to bind to $PORT within 60 seconds of launch

[2020-09-27 15:18] talentlessguy commented on #85
hmmm strange

may I see how the app looks like (I mean code)

[2020-09-27 15:23] mhmda-83 commented on #85
[code]

[2020-09-27 15:36] talentlessguy commented on #85
@mhmda-83 interesting.... still don't know what's causing it because the code looks fine, will reproduce it later today / tomorrow and investigate the issue

sorry that it doesn't work now :c

i'll do my best to fix it asap

[2020-09-27 15:37] talentlessguy commented on #85
one my thought is that you maybe forgot to parse the port number, try doing `process.env.PORT ? parseInt(process.env.PORT) : 3000`

[2020-09-27 15:40] mhmda-83 commented on #85
Still not working.

[2020-09-27 15:40] talentlessguy commented on #85
then please wait till i reproduce it :o

[2020-09-27 16:46] BRA1L0R commented on #85
@mhmda-83 what port are you currently using?

[2020-09-27 17:06] talentlessguy commented on #85
My friend helped me to find out the bug. tinyhttp binds to localhost by default, while it must bind to 0.0.0.0

bugfix is to be released soon :D

[2020-09-27 18:23] #85 closed

[2020-09-27 18:25] talentlessguy commented on #85
@mhmda-83 upgrade your deps, it should be working now

[2020-09-28 07:29] mhmda-83 commented on #85
Wow, such a fast fix :)
I test it and it works.

[2020-09-28 12:16] talentlessguy commented on #85
@mhmda-83 glad to hear this :smile:

[2020-09-28 18:25] talentlessguy commented on #81
Closed with b65353dc68e2bcc5d0462810876657364af4f759 and f21586eb366a9354382731c643aa284e892789d9

[2020-09-28 18:25] #81 closed

[2020-09-30 16:06] talentlessguy opened #89 "Deno & Elsa support"
Pending issues for Deno:

- https://github.com/denoland/deno/issues/5382

Pending issues for Elsa:

[2020-09-30 20:42] creativiii opened #90 "Typescript example doesn't send responses"
**Describe the bug**

I'm just getting started with tinyhttp so I may be misunderstanding something, but here goes.

I copied the [typescript example](https://github.com/talentlessguy/tinyhttp/tree/master/examples/typescript), changed the `package.json` to include `"@tinyhttp/app": "0.4.7"` to get it to work with npm.

After installing and starting I get the `Started on http://localhost:3000` mess

[2020-09-30 21:53] talentlessguy commented on #90
very strange, will check it tomorrow

[2020-09-30 21:58] talentlessguy commented on #90
@creativiii can't seem to reproduce it, works fine for me:

[code]

![image](https://user-images.githubusercontent.com/35937217/94744190-346aa180-0381-11eb-8efe-cd0bf29c966d.png)

the package.json file:

[code]

[2020-09-30 22:02] talentlessguy commented on #90
Could you show your files pls? package.json and the code

[2020-09-30 22:04] creativiii commented on #90
That's really strange, could it be caused by WSL?

I'll try with Linux tomorrow

[2020-09-30 22:08] talentlessguy commented on #90
ahhhh you're on WSL

then yes most likely it's the WSL issue, you need to tweak it probably

[2020-09-30 22:09] creativiii commented on #90
😭

Right guess I know what I'm doing this weekend. I'll update here if I figure it out.

[2020-09-30 22:17] talentlessguy commented on #90
closing.....

[2020-09-30 22:17] #90 closed

[2020-10-01 13:13] talentlessguy commented on #65
I'm not sure yet how to do it the best for router methods, with keeping all of the types

so want to hear some ideas

[2020-10-01 13:27] talentlessguy opened #92 "Tests TODO"
The final goal is of this issue is to achieve ~80-100% coverage

here's a todo list of things that require tests (based on the `__tests__`  folder):

- [ ] core
   - [ ] app
     - [x] `app` - `app.set`, `app.enable`, `app.disable` ([codecov](https://codecov.io/gh/talentlessguy/tinyhttp/src/master/packages/app/src/app.ts#L96))
     - [x] `onError` - Test a case where an error doesn't have an HTTP

[2020-10-01 18:02] talentlessguy opened #93 "Add Svelte (or Sapper) SSR example"
Svelte SSR Example (w/ pure `http`): https://github.com/Rich-Harris/svelte-ssr-bundle

Sapper can also be used, here are the docs for it: https://sapper.svelte.dev/docs

To get started with contributing an example, check the [CONTRIBUTING.md](https://github.com/talentlessguy/tinyhttp/blob/master/CONTRIBUTING.md#adding-new-example) file

[2020-10-01 18:09] talentlessguy opened #94 "Implement `app.route`"
Express manipulates the router in the other way than tinyhttp, so this new method should be discussed first before implementing.

I think that this method should be in a `@tinyhttp/router`'s [`Router`](https://github.com/talentlessguy/tinyhttp/blob/master/packages/router/src/index.ts#L128) class, because it does routes manipulation, `App` only adds a handler and listen function (and some more).

E

[2020-10-01 18:22] talentlessguy opened #95 "Add Prisma example"
Feel free to submit any kinds of an example with using Prisma and tinyhttp together for a REST API.

## Useful links

Prisma + Express example: https://github.com/prisma/prisma-examples/tree/latest/typescript/rest-express

Prisma docs: https://www.prisma.io/docs/understand-prisma/prisma-in-your-stack/rest

[2020-10-01 18:49] talentlessguy opened #96 "Create @tinyhttp/rate-limit"
`@tinyhttp/rate-limit` is going to be a rate limiting middleware, similar to [express-rate-limit](https://github.com/nfriedly/express-rate-limit)

To get started with creating a new middleware, check the [contributing guidelines for new middleware]()

Before PRing don't forget to:

- write the module itself
- make a proper README with API docs
- write tests with at least ~60% coverage for your mod

[2020-10-01 19:49] talentlessguy commented on #92
Thanks for improved coverage for `accepts` by @BRA1L0R via #97

[2020-10-01 19:53] Deadik commented on #93
I'm interested, could you assign me?

[2020-10-01 20:05] talentlessguy commented on #93
@Deadik yep, sure :)

[2020-10-01 21:51] Luiginator commented on #95
@talentlessguy Could you assign this issue to me please?

[2020-10-01 21:55] talentlessguy commented on #95
@Luiginator yup

[2020-10-02 09:25] Luiginator commented on #96
@talentlessguy Could you assign this issue to me please?

[2020-10-02 10:45] talentlessguy commented on #96
@Luiginator yup

[2020-10-02 12:59] talentlessguy commented on #95
Closed with #101

[2020-10-02 12:59] #95 closed

[2020-10-02 13:03] talentlessguy opened #103 "Create Auth (Session) example"
Create an example using tinyhttp and [`@tinyhttp/session`](https://tinyhttp.v1rtl.site/mw/session) under `examples/session` folder

The app logic can be taken from JWT example

[2020-10-02 13:10] talentlessguy opened #104 "Create PostgreSQL example"
Create an example of using tinyhttp with PostgreSQL via [pg-promise](https://github.com/vitaly-t/pg-promise)

If you know a better / more modern PostgreSQL client for Node.js, feel free to suggest them in this thread

app logic can be taken from MongoDB example

[2020-10-02 16:16] berto commented on #104
I can help with this. pg-promise sounds good

[2020-10-02 16:47] aneeshrelan commented on #103
Can I take up this one?

[2020-10-02 17:03] talentlessguy commented on #103
@aneeshrelan yep

[2020-10-02 17:07] talentlessguy commented on #104
@berto okay, assigning to u

[2020-10-02 17:36] aneeshrelan commented on #103
I might need some help here @talentlessguy .

Have create a new dummy copying the `jwt` example. With just the following code to start with
package.json
[code]
index.js
[code]

I've executed the `pnpm i && pnpm i -r` in the root of the repo and also in the `examples/session` folder. But the `node_modules` doesn't seem to come up and then running `node index.js` results in a _Module not found_ erro

[2020-10-02 17:59] talentlessguy commented on #103
@aneeshrelan try doing `pnpm i @tinyhttp/app` in the `session` folder

[2020-10-02 18:02] aneeshrelan commented on #103
Yup, this works. Do you think, this should be added to either the README or the CONTRIBUTING for the examples directory?

[2020-10-02 19:42] talentlessguy commented on #103
@aneeshrelan thx for suggestion, I will add this to CONTRIBUTING.md file as a note soon

[2020-10-02 20:15] talentlessguy commented on #103
Closed via #103

[2020-10-02 20:15] #103 closed

[2020-10-02 22:01] talentlessguy commented on #104
Closed via #106

[2020-10-02 22:01] #104 closed

[2020-10-02 22:14] talentlessguy opened #109 "Create React SSR Example"
Create a React SSR example with hydration on the client (e.g. react both on server and client)

if it is too diffficult to do, then just SSR but PRs with client hydration will be in preference

You can use any abstract layers around SSR, react-ssr for example

React SSR docs: https://reactjs.org/docs/react-dom-server.html

`react-ssr` package: https://www.npmjs.com/package/react-ssr

[2020-10-03 07:27] aneeshrelan commented on #92
Can I try adding tests for bot-detector?

[2020-10-03 07:58] talentlessguy commented on #92
@aneeshrelan yup, will create a separate issue for that now

[2020-10-03 08:02] talentlessguy opened #111 "Write tests for bot-detector"
Write tests for `@tinyhttp/bot-detector` using `supertest-fetch` (that is used in other tests)

The module is quite small, so a little things have to be tested:

- [ ] It doesn't identify browser UserAgent as a bot
- [ ] It identifies Google crawler as a bot
- [ ] it identifies node request as a bot

[2020-10-03 08:03] talentlessguy commented on #92
@aneeshrelan check https://github.com/talentlessguy/tinyhttp/issues/111

[2020-10-03 08:06] aneeshrelan commented on #111
@talentlessguy Can you please assign this to me? Thanks!

[2020-10-03 08:10] talentlessguy commented on #111
@aneeshrelan done

[2020-10-03 08:26] ShashankAgarwal77 commented on #84
Hi, Can you assign this task to me?

[2020-10-03 08:41] ShashankAgarwal77 commented on #84
please reply this comment so I can understand this repo is active

[2020-10-03 09:13] aneeshrelan commented on #111
@talentlessguy For the 3rd task, "it doesn't identify node request as a bot", I'm not quite sure if I get this correctly, do we mean the request generated by the `supertest-fetch`? If yes, the user-agent comes out to be `node-fetch/1.0 (+https://github.com/bitinn/node-fetch)` which is being termed as a bot by the middleware

[2020-10-03 09:16] talentlessguy commented on #84
@ShashankAgarwal77 this repo is definitely active, check the last commit date

and yes I can assign it to you

[2020-10-03 09:17] talentlessguy commented on #111
@aneeshrelan my bad, it should identify as a bot

[2020-10-03 09:24] aneeshrelan commented on #111
No worries. Have put up #112 to add tests

[2020-10-03 11:20] talentlessguy opened #113 "Create tinyws project (websocket framework based on tinyhttp)"
Create a WebSocket wrapper for tinyhttp, similar to [express-ws](https://github.com/HenningM/express-ws) and [express-ws-routes](https://www.npmjs.com/package/express-ws-routes)

Usage will be something like this:

[code]

If you have a better idea of how the usage should like, share in the thread

## Implementation details

`App` must extend `Router` from '@tinyhttp/router'

If possible, it shoul

[2020-10-03 11:42] talentlessguy commented on #111
Closed via #112

[2020-10-03 11:42] #111 closed

[2020-10-03 12:09] setheal commented on #109
Hey, can I take this issue ?

[2020-10-03 12:32] talentlessguy commented on #109
@setheal yup

[2020-10-03 14:25] talentlessguy commented on #113
Another suggestion is to build a standalone WebSocket framework based on tinyhttp

I already have a name... "tinyws" lol

`@tinyhttp/router` doesn't use an http server so it's possible to build such framework

[2020-10-03 14:39] talentlessguy opened #116 "Create Prisma + GraphQL example"
Similar to #101 but instead of REST API, there will be a GraphQL API, using `express-graphql` and similar.

example folder - `prisma-graphql`

[2020-10-03 14:43] talentlessguy opened #117 "Implement `res.append`"
## Details

Should be put in a separate file (`append.ts`) in the `@tinyhttp/res` package and then re-exported in index.

## Link

Express implementation - https://github.com/expressjs/express/blob/master/lib/response.js#L721

Express docs - https://expressjs.com/en/5x/api.html#res.append

[2020-10-03 15:00] talentlessguy opened #119 "Create `@tinyhttp/unless`"
Create an [express-unless](https://www.npmjs.com/package/express-unless) like middleware for tinyhttp

[2020-10-03 15:00] talentlessguy commented on #119
W.I.P. in the #118 PR

[2020-10-03 16:09] #109 closed

[2020-10-03 16:45] Rashmi-K-A commented on #117
Hey, I would like to take this up!

[2020-10-03 17:14] aneeshrelan commented on #92
@talentlessguy I see some tests for the mentioned wares, are they still needed?

[2020-10-03 17:19] shubhi23994 commented on #92
I can take up some tests

[2020-10-03 17:40] talentlessguy commented on #117
@Rashmi-K-A alright, assigning to you

[2020-10-03 17:40] talentlessguy commented on #119
Closed via #118

[2020-10-03 17:40] #119 closed

[2020-10-03 17:58] talentlessguy commented on #92
@shubhi23994 which tests would you like to take up? I will create a separate issue for those u picked

[2020-10-03 17:59] talentlessguy commented on #92
@aneeshrelan I receive lots of PRs during hacktoberfest so I could have missed some of them

and yes, tests are still needed

[2020-10-03 18:11] shubhi23994 commented on #92
I can pick up jsonp to start with

[2020-10-03 18:13] talentlessguy commented on #92
@shubhi23994 alright, making a new issue then :D

[2020-10-03 18:22] talentlessguy opened #123 "Write tests for `@tinyhttp/jsonp`"
Express tests: https://github.com/expressjs/express/blob/master/test/res.jsonp.js

Should be put in `__tests__/modules/jsonp.ts`

No need to write as many tests as in Express, if it hits 100% coverage, it's enough

[2020-10-03 18:23] talentlessguy commented on #92
@shubhi23994 write in #123 so i can assign you

[2020-10-03 18:27] shubhi23994 commented on #123
@talentlessguy  Thanks in advance for assigning this to me :)

[2020-10-03 20:15] talentlessguy opened #125 "Articles TODO"
In order for tinyhttp to have more recognition, it would be cool to have some articles written about using tinyhttp with different technologies to build backend applications

Some ideas:

- [ ] Building a [parrot as a service](https://github.com/francoislg/PPaaS) application using tinyhttp and [node-canvas](https://github.com/Automattic/node-canvas)
- [ ] Building a REST API with Node.js, tinyhttp

[2020-10-04 09:04] eavam commented on #116
Can I do it?🙂

[2020-10-04 11:19] talentlessguy commented on #116
@eavam yup

[2020-10-04 14:14] shubhi23994 commented on #123
@talentlessguy  I have tried 2-3 things for callback tests but everything seems to give undefined on line 46 of jsonp/index.ts

1st thing:
`  it('should respond with jsonp', async () => {
      const { fetch, app, server } = InitAppAndTest((req, res) => jsonp(req, res, app)({ count: 1 }, {}))
      await fetch('/')
        .expect('Content-Type', 'application/json; charset=utf-8')
        .expect(

[2020-10-04 14:42] talentlessguy commented on #123
@shubhi23994 try without `InitAppAndTest`, just this:

[code]

[2020-10-04 15:28] shubhi23994 commented on #123
Tried this

`const app = new App()
  app.use((req, res) => jsonp(req, res, app))`

But no luck!

The one that you posted was giving error on res and req and so had to put it inside app.use. But yea still the same issue

[2020-10-04 15:32] talentlessguy commented on #123
@shubhi23994

might be the issue with jsonp module then

will check it later

[2020-10-04 15:34] talentlessguy commented on #123
@shubhi23994 can you try this?

https://github.com/talentlessguy/tinyhttp/tree/master/packages/jsonp#example

[2020-10-04 15:39] shubhi23994 commented on #123
I had tried this already and I kept getting this error `TypeError: Cannot destructure property 'escape' of '((cov_cpfoxmzi1(...).s[14]++) , opts)' as it is undefined.`

[2020-10-04 15:43] talentlessguy commented on #123
@shubhi23994 which Node version are u using btw?

[2020-10-04 15:45] shubhi23994 commented on #123
Node version is: v14.13.0

[2020-10-05 09:05] eavam commented on #116
@talentlessguy resolved in #129 😁

[2020-10-05 14:36] #116 closed

[2020-10-05 14:38] #117 closed

[2020-10-05 15:39] talentlessguy commented on #123
@shubhi23994 I think I just fixed it, check again please

[2020-10-06 16:29] talentlessguy commented on #96
Closed with #110

[2020-10-06 16:29] #96 closed

[2020-10-06 19:25] talentlessguy commented on #123
@shubhi23994 how are tests going ;D ?

[2020-10-06 22:45] MaurizioPz commented on #92
Hi, may I take pick ETag?

[2020-10-07 05:07] shubhi23994 commented on #123
I saw the fix and seems to be fine but still not receiving this output like express. Some extra things are coming up. I am trying to figure them out. Will update you on this soon ☺️

[2020-10-07 13:37] talentlessguy commented on #92
@MaurizioPz yup, pls wait a sec imma setting up a new issue for this (to later assign it to you)

[2020-10-07 13:45] talentlessguy opened #133 "Write tests for etag"
there are some tests written for etag already, but there needs to be more of them:

- [ ] should reject number entities
- [ ] `Buffer`
  - [ ] should work for empty buffer
  - [ ] should generate a strong ETag
- [ ] `fs.Stats`
  - [ ] should generate a weak ETag
- [ ] `weak` option
  - [ ] should generate a strong eTag when is set to false
  - [ ] should generate a weak eTag when set to true

[2020-10-07 13:46] talentlessguy commented on #92
@MaurizioPz check this: #133

[2020-10-07 14:25] MaurizioPz commented on #133
great

[2020-10-07 18:28] shubhi23994 commented on #123
Hey! line 23 looks unreachable to me. Or maybe I am missing something. Can you have a look? I have raised the PR though covering all the other lines

[2020-10-07 20:46] talentlessguy commented on #123
@shubhi23994 it's fine that 23 is unreachable, the coverage doesn't have to be 100%

and yes I'm taking a look now

[2020-10-07 20:51] talentlessguy commented on #123
Closed via #134

[2020-10-07 20:51] #123 closed

[2020-10-08 09:47] talentlessguy commented on #133
Closed via #137

[2020-10-08 09:47] #133 closed

[2020-10-08 09:47] talentlessguy commented on #93
Closed via #135

[2020-10-08 09:47] #93 closed

[2020-10-08 10:33] MaurizioPz commented on #92
Hi, may I take also req

[2020-10-08 12:01] talentlessguy commented on #92
@MaurizioPz alright, making a new issue

[2020-10-08 12:07] talentlessguy opened #140 "Write tests for @tinyhttp/req"
- [ ] `req.range`
  - [ ]  should return parsed ranges
  - [ ] should cap to the given size
  - [ ] should cap to the given size when open-ended
  - [ ] should have a .type
  - [ ] should accept any type
  - [ ] should return undefined if no range
  - [ ] with `options`
    - [ ] Should return combined ranges if `combine` set to true
- [ ] `req.is`
  - [ ] should return the given MIME type when ma

[2020-10-08 12:09] talentlessguy commented on #92
@MaurizioPz check #140 and write there pls so I can assign you

[2020-10-08 12:15] MaurizioPz commented on #140
Thanks

[2020-10-08 19:57] talentlessguy opened #141 "Create markdown blog example"
The blog should:

- automatically serve (and compile to html) markdown files
- extract front matter

Example structure:

[code]

index.html must contain a list of all markdown pages using extracted front matter.

front matter should consist of the following properties:

- `slug` Slug of an article
- `date` timestamp
- `topic` page topic (can be anything)

Modules to be used (recommended, if you fi

[2020-10-08 20:20] alcar commented on #92
Hey, @talentlessguy! I'm not familiar with the codebase, but I'm happy to try writing some tests if you still need it!

[2020-10-08 20:29] talentlessguy commented on #92
@alcar hi! you can pick any of the things to test, and I'll open a separate issue for you - e.g. if you decide to test `@tinyhttp/session` - I'll create an issue "Write tests for @tinyhttp/session"

pick the one you want and I'll assign you to those tests

[2020-10-08 20:31] alcar commented on #92
Do you have any recommendations for a newcomer? If not, I can just pick up the first available from the list!

[2020-10-08 21:06] talentlessguy commented on #92
@alcar `@tinyhttp/send` is quite easy to test, so i'd pick that

but feel free to pick anything else

[2020-10-08 21:46] alcar commented on #92
@talentlessguy Sounds great! Could you please create an issue and assign it to me then?

[2020-10-08 22:58] HunterJS-bit commented on #141
I would like to give it a try, can I work on this ?

[2020-10-08 23:28] talentlessguy commented on #92
@alcar yup currently making an issue for you

[2020-10-08 23:35] talentlessguy opened #143 "Write tests for @tinyhttp/send"
- [ ] send
      - [ ] `send`
        - [ ] remove headers for 301 and 204 statuses ([codecov](https://codecov.io/gh/talentlessguy/tinyhttp/src/master/packages/send/src/send.ts#L45))
        - [ ] set `Content-Type` to `application/octet-stream` if the header hasn't been set before

      - [ ] `sendFile`
        - [ ] throw if path is not absolute ([codecov](https://codecov.io/gh/talentlessguy/ti

[2020-10-08 23:37] talentlessguy commented on #92
@alcar here you go -> #143

[2020-10-08 23:40] talentlessguy commented on #141
@HunterJS-bit yup, assigning you

to get started, check the CONTRIBUTING.md file with all of the instructions of setting up an example

[2020-10-08 23:53] talentlessguy opened #144 "Create @tinyhttp/server-push"
## Goal

Create a tinyhttp middleware to work with HTTP/2 server push.

## Work process

Some research should be done on which existing solutions exist, how they work, what can be simplified (e.g. abstracted) and how to make something similar

in case there are no working solutions for http2 express middleware, there needs to be a discussion regarding what it should do (the `@tinyhttp/server-push`

[2020-10-09 00:02] alcar commented on #143
Thanks, @talentlessguy! I'll start working on it soon!

[2020-10-09 00:02] alcar commented on #143
Thanks, @talentlessguy! I'll start working on it soon!

[2020-10-09 10:19] talentlessguy opened #145 "Create PostgreSQL + TypeORM example"
Create an example tinyhttp application that uses PostgreSQL for a database and TypeORM for an ORM

[2020-10-09 10:24] talentlessguy commented on #141
@HunterJS-bit `@tinyhttp/markdown`'s functionality might be not enough to do gray matter parsing, then you could maybe try using `fs.readFile` (from `fs/promises`) and `marked` (or any other markdown parser)

[2020-10-09 10:30] talentlessguy opened #146 "Create search example"
Create a server-side Google-like search, similar to [Express search example](https://github.com/expressjs/express/tree/master/examples/search)

example folder: `search`

Redis can be used, although it isn't a necessity

a simple array will also work

a bonus point would be making a cool layout for it (google clone but w/ tinyhttp logo idk) :D

[2020-10-09 10:51] talentlessguy opened #147 "Create RealWorld application"
Create a real-world application, e.g. a Medium clone, according to [this repo](https://github.com/gothinkster/realworld) spec

Stack:

| tool        | name                        |
|------------|-----------------------------|
| web framework | tinyhttp (obv) |
| body parser       | [milliparsec](https://github.com/talentlessguy/milliparsec)    |
| database | PostgreSQL |
| ORM (ik it's not but it'

[2020-10-09 11:45] Luiginator commented on #145
I would like to work on this one.

[2020-10-09 12:15] jkreller commented on #146
I would like to try that one! May I?

[2020-10-09 12:52] talentlessguy commented on #146
@jkreller yup, assigning to you

feel free to ask questions if you have any

[2020-10-09 12:54] talentlessguy commented on #145
@Luiginator I could adding you but... imo would be cooler if some beginner will make it instead

let's wait for 24 hours and if no one else wants to work on it, I'll assign it to you

[2020-10-09 13:24] jkreller commented on #146
@talentlessguy I got a problem running any example in the examples folder by following the README.md files. When starting the scripts it tells me that it cannot find the @tinyhttp/app package. Are there any additional steps necessary?

[2020-10-09 13:26] talentlessguy commented on #146
what script did you start?

[2020-10-09 13:27] talentlessguy commented on #146
ah, to run any of the examples, you need to run `pnpm i @tinyhttp/app` in the example folder

that's because it needs to link before using it

[2020-10-09 14:29] jkreller commented on #146
Probably the contribution- or better the example-Readme should be adjusted. What do you think about?

[2020-10-09 15:06] talentlessguy commented on #146
@jkreller what do you mean? that `@tinyhttp/app` should be installed to the example in order to run it?

I can put it in CONTRIBUTING.md file, but usually these examples are meant to check online on github.

also, do you still struggle to set up an example? or it's working fine now?

[2020-10-09 15:38] talentlessguy commented on #84
@ShashankAgarwal77 are you still working on it? (not in a hurry just asking how it's going)

[2020-10-09 15:48] jkreller commented on #146
@talentlessguy I just found it confusing as someone who wants to run the example from the repository. But you are right, if the purpose is to check it online it's not necessary.

[2020-10-09 15:49] jkreller commented on #146
It worked fine now. Resolved with #148, I hope ;)

[2020-10-09 16:10] talentlessguy commented on #146
@jkreller the PR needs some small fixes, pls check my comments

[2020-10-09 20:29] jkreller commented on #146
@talentlessguy Added another commit. Also had the muse to adjust the layout to be Google-like 😄

[2020-10-09 23:57] talentlessguy commented on #146
Closed via #148

[2020-10-09 23:57] #146 closed

[2020-10-10 08:59] jkreller commented on #145
May I try that one?
What about implementing a ToDo-List API for example?

[2020-10-10 12:17] jkreller commented on #145
I saw that the PostgreSQL example implements a user API. So probably that would be a better way to do it

[2020-10-10 13:34] talentlessguy commented on #145
@jkreller better make smth more than a todo list, and yup, I can assign you

[2020-10-10 14:13] BRA1L0R opened #150 "reqIs does not correctly parse the Content-Type header"
Thanks @MaurizioPz for finding this bug

**Describe the bug**
`reqIs` does not separate the content type from the charset
This is actually an issue in another package called `@tinyhttp/type-is`
[code]

as you can see here (line 12, @tinyhttp/type-is/index.ts) the function for type normalization is empty and does not remove the charset part from the content-type header

**To Reproduce**
( related i

[2020-10-10 14:15] talentlessguy commented on #150
Anyone can submit a bugfix :D

[2020-10-10 14:23] jkreller commented on #145
Opened PR #151

[2020-10-10 22:00] HunterJS-bit commented on #141
@talentlessguy  Greate thank you will check it out

[2020-10-10 23:55] HunterJS-bit commented on #141
@talentlessguy  created pull request #152

[2020-10-11 08:53] #150 closed

[2020-10-11 09:09] talentlessguy commented on #141
@HunterJS-bit I updated the issue description with more concise requirements for front matter parsing

[2020-10-11 13:47] downrunner-help opened #155 "@tinyhttp/markdown - `recursive` option doesn't work"
**Describe the bug**

I do not think the recursive flag is working. I am trying to serve .md from `docs` and below. Files in the `docs` server fine. Subdirectories are not navigated. I get Not Found errors.

**To Reproduce**

Steps to reproduce the behavior:

1. Add the below as the sole middleware:

[code]

2. Create a directory and file structure

[code]

**Expected behavior**

Getting /README r

[2020-10-11 13:58] talentlessguy commented on #155
Hi! Yeah it's most likely my fault, `recursive` prop didn't work in `@tinyhttp/static` either (and that package no longer exists).

Will take a look soon and make a fix

sorry for this inconvenience >_<

and also tbh i need to rewrite `@tinyhttp/markdown`, it doesn't work as it should

[2020-10-11 15:27] downrunner-help commented on #155
@talentlessguy thanks for quick response. As a follow-on, I tried using `express-markdown-reloaded`.

[code]

Not sure who's bug it is, but whatever is passed down the call flow makes tiny crap out:

[code]

[2020-10-11 15:59] downrunner-help commented on #155
@talentlessguy A bit blunt, but this gets me by for now:

[code]

.get("/*",markdownHandler({
	root: "/docs",
	index: "README",
	markedOptions: {
		headerIds: true,
		gfm: true,
		pedantics: false,
		highlight: function(code, language) {
			const hljs = require("highlight.js"),
				validLanguage = hljs.getLanguage(language) ? language : 'plaintext';
			return hljs.highlight(validLanguage, code).va

[2020-10-12 13:24] talentlessguy commented on #145
Closed via #151

[2020-10-12 13:24] #145 closed

[2020-10-13 00:48] alcar commented on #143
@talentlessguy, I'm trying to make the 2nd `send` test pass, but I think the module may be missing a `res.end` for buffers. Adding it seems to solve the problem, but, since I'm new to the codebase, it'd be great if you could confirm that it makes sense :sweat_smile:

[2020-10-13 13:35] talentlessguy opened #158 "Create Caddy example"
Create an example of using tinyhttp and a web server, [Caddy](https://caddyserver.com/) in this case.

The demo should show that `Host`, `X-Forwarded-For` and are passed to `req.ip` and `req.host` respectively.

The demo also must have HTTPS enabled (self signed would be fine) to show that `req.secure` also works.

File structure of the demo:

[code]

[2020-10-13 13:39] talentlessguy opened #159 "Create Angular SSR example"
Docs: https://angular.io/guide/universal

[2020-10-13 14:07] pedchenkoroman commented on #159
Hey, could you assign to me? I'd like to try to create this one.

[2020-10-13 14:10] talentlessguy commented on #159
@pedchenkoroman done

[2020-10-13 16:30] huseyinsimsekk commented on #158
I looked at this issue. I don't know Candy  :) but I can do it. Please assign it to me. I think I can do that like Http2 example

[2020-10-13 16:43] talentlessguy commented on #158
@huseyinsimsekk HTTP/2 example is already present in the examples folder

and if you don't know Caddy I can't assign you, because you won't be able to create an example with a technology you don't know

[2020-10-13 16:45] huseyinsimsekk commented on #158
Ok. I see

[2020-10-13 18:16] saranshabd commented on #125
@talentlessguy I can write an article on [Medium](https://medium.com) about using `tinyhttp` with Node.js (with TypeScript), MongoDB and Swagger UI. I think you can assign this task to me. We can put the link of the article in the project's README.md file.

[2020-10-13 18:22] saranshabd commented on #147
@talentlessguy Can the frontend and backend be developed separately? If yes, then I can build a food ordering application using React.js on frontend and Node.js on the backend using the above-mentioned stack.

[2020-10-13 18:35] talentlessguy commented on #147
@saranshabd frontend and backend should be the same app. For rendering things use template engines. React can also be one. But I'd recommend to go with Eta

[2020-10-13 18:50] talentlessguy commented on #147
@saranshabd lol, "real world" is not something abstract, it's a name of a repo with real world apps. checks the links in the issue description. "Any" app won't fit. it must strictly follow the RealWorld spec.

[2020-10-13 18:53] saranshabd commented on #147
@talentlessguy My bad. I did check out the real-world repo but I assumed we can build any real-world application and not just Medium. I can build Medium clone as well (it would be actually simpler than a food ordering system since I won't have to deal with transactions).

[2020-10-13 18:56] saranshabd commented on #147
For a single frontend and backend application, we could also use [Next.js](https://nextjs.org/) or [Gatsby](https://www.gatsbyjs.com/), instead of using a template engine

[2020-10-13 18:58] talentlessguy commented on #147
@saranshabd it won't fit the RealWorld spec then

and using such frameworks as Next.js or Gatsby or whatever else won't prove the usability of tinyhttp. App must be server side only. in the real-world repo, there are lots of examples w/ similar tasks, including Express example.

[2020-10-13 19:05] saranshabd commented on #147
@talentlessguy Both Next.js and Gatsby render pages on the server-side. I'm not sure about Gatsby but Next.js even allows custom server instead of their default ones (which in this case will be `tinyhttp`). But that is not the point here, it was just a suggestion I made.

[2020-10-13 19:07] talentlessguy commented on #147
@saranshabd I know that Next.js has SSR, I even used to write Next.js + Koa in the past. Stiill, the app must use only template engines, no any other web framework. Next.js is already a web framework. The focus should be made on tinyhttp.

[2020-10-13 19:14] saranshabd commented on #147
@talentlessguy Cool, I can work with the above tech stack as well, or at least give it my best shot. So, do you want to assign this task to me?

_PS: This is the first time I am trying to contribute to open source 😅_

[2020-10-13 19:29] talentlessguy commented on #147
@saranshabd I can try to assign this task to you, but I think it will only make sense if you do the task properly, e.g. follow the spec and use the specified technologies.

I hope I don't sound harsh, I just want people to work productively w/o wasting time

[2020-10-13 19:43] saranshabd commented on #147
@talentlessguy Thanks! Do you have a Discord channel or a Slack workspace where I can talk to you later regarding some issues or if I want to ask something? Or does that all happen on GitHub?

[2020-10-13 22:08] talentlessguy commented on #143
@alcar how is it going?

[2020-10-13 22:13] alcar commented on #143
@talentlessguy only managed to actually take a look at the code yesterday, and now I'm writing the final 2 tests, so should have a PR ready in a bit! Sorry for the delay!

[2020-10-14 13:49] talentlessguy commented on #140
Closed via #142

[2020-10-14 13:49] #140 closed

[2020-10-14 19:28] talentlessguy commented on #155
@downrunner-help it's fixed now via 756caf9.

Upgrade your `@tinyhttp/markdown` to 0.4.17

[code]

[2020-10-14 19:28] #155 closed

[2020-10-15 05:20] #143 closed

[2020-10-15 14:39] talentlessguy opened #162 "Implement `app.param`"
Express docs: https://expressjs.com/en/4x/api.html#app.param

Express implementation: https://github.com/expressjs/express/blob/master/lib/application.js#L321

Note that tinyhttp uses `regexparam` to parse query params from a URL. Most probably you'll use it while implementing this method

- [ ] Implement the method
- [ ] JSDoc comments
- [ ] Tests (`__tests__/core/app.test.ts`)
- [ ] Docs (on the

[2020-10-15 18:35] talentlessguy commented on #159
@pedchenkoroman how is it going? :) are there any problems you faced? (just checking if you didn't give up lol)

[2020-10-15 21:12] alcar commented on #92
@talentlessguy I'm happy to pick up a new one if you still need it!

[2020-10-15 21:16] talentlessguy commented on #92
@alcar i will setup an issue for testing `@tinyhttp/session` for you tomorrow

[2020-10-16 15:27] KoljaTM commented on #92
Would like to help out as well. Anything up for grabs?

[2020-10-16 15:41] talentlessguy opened #163 "Test `@tinyhttp/session`"
tests are almost identical to Express `session` module, so there are references to source of their tests.

- [ ] `SessionManager(opts)`
  - [ ] more coming soon....
- [ ] `getSession(req, res)`
  - [x] `session.save(cb)`
    - [x] Should save session to store ([src](https://github.com/expressjs/session/blob/master/test/session.js#L1762))
    - [x] Should prevent end-of-request save ([src](https://

[2020-10-16 15:43] talentlessguy commented on #92
@alcar  check this => https://github.com/talentlessguy/tinyhttp/issues/163

[2020-10-16 15:51] talentlessguy commented on #92
@KoljaTM `@tinyhttp/pug` has 0% coverage so you can take it

or other modules with almost 100% coverage, such as `@tinyhttp/cors`

[2020-10-16 15:54] KoljaTM commented on #92
ok, i'll see what i can do for the pug package

[2020-10-16 15:55] alcar commented on #163
Thanks, @talentlessguy! Could you please assign it to me?

[2020-10-16 21:03] talentlessguy opened #168 "Create Hyperapp SSR example"
Create an example of server rendering a [Hyperapp](https://github.com/hyperapp/hyperapp) application, using [hyperapp-render](https://github.com/kriasoft/hyperapp-render). Recommend to check React, Preact and Vue SSR examples first to understand how to make the example better.

[2020-10-16 21:22] talentlessguy opened #169 "Create AWS Serverless example"
folder name: `aws`

steps:

- make the example
- put deployment instructions in readme
- deploy it on AWS
- deploy an example (prob outside of the repo) on AWS and put the link in the readme

[2020-10-16 23:39] pedchenkoroman commented on #159
I'm still on it. It is not easy as I thought. If you have someone who can do it better or faster please feel free assign to it. It's my first experience to contribute to open source.

[2020-10-17 12:51] talentlessguy commented on #158
Closed via #164

[2020-10-17 12:51] #158 closed

[2020-10-17 16:35] alcar commented on #163
Hey, @talentlessguy! I'm not sure if I'm correctly adapting Express' end-of-request tests — could you please give me some tips on how to test that using this library?

[2020-10-17 17:02] talentlessguy commented on #163
@alcar I think the test should look smth like this:

[code]

[2020-10-17 18:21] alcar commented on #163
Yeah, I was doing something similar, but `set` doesn't seem to be called, so `count` never goes up and, consequently, the test fails. Do you think there may be something missing in the implementation?

[2020-10-17 18:27] talentlessguy commented on #163
@alcar more like the `shouldSetSessionInStore` function works not as expected. `set` is called (I think?) but not inside of `shouldSetSessionInStore`

prob worth rewriting that helper function

[2020-10-17 18:30] alcar commented on #163
Hmm, I see! Okay, I'll give that a try.

Just for reference, here is what I currently have:
[code]

I was also wondering why they do two consecutive requests and set a cookie [in their tests](https://github.com/expressjs/session/blob/master/test/session.js#L1790) :thinking:

[2020-10-17 19:26] talentlessguy commented on #144
After some thought process, I decided not to work on it in context of tinyhttp. HTTP/2 brings too much it's own context and IMO it deserves it's own web framework. Maybe there will be one.

[2020-10-17 19:26] #144 closed

[2020-10-17 19:28] talentlessguy commented on #47
Finally, the list is completed :tada:  All middlewares in the list are implemented!

Huge thanks to @creepinson, @Luiginator  and @shzmr for helping to achieve this goal :DDD

[2020-10-17 19:28] #47 closed

[2020-10-17 19:40] alcar commented on #163
The tests below pass, but they're basically only checking if `.set` was called once. I'm not sure if I understand what kind of behavior we're trying to test.

[code]

[2020-10-18 15:09] talentlessguy commented on #163
@alcar we're trying to test whether the session is saved at the end of HTTP response

regarding `session.save`:

[2020-10-20 13:17] ajkachnic commented on #162
Hello! I just found this project (and I think it’s really cool), but do you mind if I take a swing at this? How difficult do you think it would be to do?

[2020-10-20 14:40] talentlessguy commented on #162
Hello @ajkachnic! This issue is labeled as `medium` because it requires some more than usual effort to do. It doesn't mean that it's impossible to implement the `param` method, it just means that you'll have to do some research and try different things before you get the final result.

So, returning back to `app.param` implementation, it will probably slightly differ from Express implementation. A

[2020-10-20 16:16] ajkachnic commented on #162
Yeah I'd like to work on it!

[2020-10-20 16:18] talentlessguy commented on #162
@ajkachnic assigning you then!

[2020-10-20 16:20] talentlessguy commented on #162
@ajkachnic updated the issue description with a todo

[2020-10-20 16:23] talentlessguy commented on #162
Also, a note. `@tinyhttp/url` contains the special function to get request params, so you don't have to make regexparam a direct dependency. Just use the `getURLParams` function

[2020-10-20 19:45] ajkachnic commented on #162
This is probably a stupid question, but this should be included in the `App` class right? I'm somewhat sure, but it could also be in `Router` so I wanted to confirm

Or, would this be similar to the way express has it were the App calls the internal router method?

[2020-10-20 21:27] talentlessguy commented on #162
@ajkachnic it should be a method of the `App` class

[2020-10-22 14:38] talentlessguy commented on #78
`proxy-addr` is now replaced with `@tinyhttp/proxy-addr`

[2020-10-22 14:38] #78 closed

[2020-10-24 12:24] alcar commented on #163
Hmm, so, if I understood correctly, the tests above are enough because they confirm that `.set` is being called once, which means that it's only called by us, and not automatically in the end of the request?

[2020-10-24 12:49] talentlessguy commented on #163
@alcar I think yes?

[2020-10-24 18:27] alcar commented on #163
@talentlessguy, I've just opened a PR (#173) with some tests! I don't think I'll have time to work on the remaining ones for now, so perhaps we should let someone else pick them up :confused:

[2020-10-24 21:32] talentlessguy commented on #163
@alcar alright, will check for ur tests then but won't close this issue

[2020-10-26 19:42] talentlessguy commented on #94
Implemented in 0.5.6

[2020-10-26 19:42] #94 closed

[2020-10-26 19:43] talentlessguy commented on #162
how is it going, @ajkachnic? do you face some difficulties that you need help with?

(sorry if i'm annoying just checking if things are going alright)

[2020-10-27 17:00] fabianmoronzirfas opened #175 "Error when requesting route with params and query"
**Describe the bug**

The server hangs itself when I try to send a GET request to a route where I use `req.params` and `req.query` e.g.`/cats/:catId/moods?food=fish`

**To Reproduce**

I prepared a small repo to reproduce that error.

[code]

In another session

[code]

**Expected behavior**

I expect the console to log
[code]
and to return a response.

[code]

**Versions**

* `node`: v14.13.1
* `

[2020-10-27 17:23] talentlessguy commented on #175
Interesting... i don't know yet what's going on here. Feels like it hangs because some kind of handler is stuck and doesn't pass the index to the next ware...

[2020-10-27 17:41] talentlessguy commented on #175
Spotted the bug, it hangs in here:

https://github.com/talentlessguy/tinyhttp/blob/master/packages/app/src/app.ts#L215

gonna fix asap

thx for reporting!

[2020-10-27 17:45] fabianmoronzirfas opened #176 "build error with tsc"
**Describe the bug**

While playing with @tinyhttp I ran into the following problem.
When trying to build with the `tsconfig.json` below,

[code]

I run into the following build error.

[code]

What is a recommended typescript configuration? Or why do I get this error?
The `tsconfig.json` is taken from a https://prisma.io tutorial.

FYI:

- When I use the default `tsconfig.json` generated with `np

[2020-10-27 17:47] talentlessguy commented on #175
Looks like i'm misusing the `regexparam` package...

[2020-10-27 18:29] talentlessguy commented on #175
Aaaaaaaaaaaand I fixed it!

Try now with:

[code]

[2020-10-27 18:29] #175 closed

[2020-10-27 18:29] talentlessguy commented on #175
@all-contributors add @fabianmoronzirfas for bug

[2020-10-27 18:31] talentlessguy commented on #176
Try adding

[code]

to your tsconfig

[2020-10-27 19:02] fabianmoronzirfas commented on #176
Thanks for the swift reply. I added a build action here on GitHub and followed your suggestion. Unfortunately the build still fails.

https://github.com/fabianmoronzirfas/tinyhttp-build-error/runs/1316673866?check_suite_focus=true

[2020-10-27 19:16] talentlessguy commented on #176
@fabianmoronzirfas try this config:

[code]

it should work

[2020-10-27 19:20] talentlessguy commented on #176
Looks like `"strict": true` is the root cause of why it fails to build

no clue what's happening, need to google

[2020-10-27 19:53] fabianmoronzirfas commented on #175
Works like a charm. Thank you

[2020-10-28 12:54] talentlessguy commented on #176
Temporary solution: not using `"strict": true`

[2020-10-28 12:54] #176 closed

[2020-10-28 13:04] fabianmoronzirfas commented on #176
Yes. Thank you. That works 👍

[2020-10-31 21:53] talentlessguy commented on #50
I changed my mind. Not transferring to any org, let it be kept here...

[2020-10-31 21:53] #50 closed

[2020-11-01 14:28] talentlessguy commented on #113
not going to work on it but if anyone wants i can help with the `@tinyhttp/router` package

[2020-11-01 14:28] #113 closed

[2020-11-04 21:27] talentlessguy commented on #141
closed via abce6f38d9ede6c2431c736c427ff66a5c3f987a

[2020-11-04 21:27] #141 closed

[2020-11-06 13:22] talentlessguy commented on #159
I didn't realize the complexity and bloat of Angular apps so closing the issue.

[2020-11-06 13:22] #159 closed

[2020-11-06 15:47] #84 closed

[2020-11-06 15:56] talentlessguy commented on #168
Temporarily closing because of https://github.com/kriasoft/hyperapp-render/issues/17#issuecomment-723152971

[2020-11-06 15:56] #168 closed

[2020-11-06 20:17] talentlessguy commented on #168
implemented in 9e6f10d

[2020-11-07 08:03] #66 closed

[2020-11-07 08:49] vitalybaev opened #184 "tinyhttp doesn't work as server for Next.js"
**Describe the bug**

I often use Next.js framework. It commonly used with Express server. I've got an idea to try tinyhttp for my projects (and also to add an example to Next.js repo).
But I've got some errors and maybe you could tell me what is wrong. I'll also continue investigate this issue as well.

Error log:
[code]

**To Reproduce**

1. Clone https://github.com/vitalybaev/next-tinyhttp
2. `

[2020-11-07 12:35] talentlessguy commented on #184
Found the root of the problem, `req.route` crashes, so the whole thing crashes

fixing this now

[2020-11-07 12:52] talentlessguy commented on #184
added this:

[code]

and it doesn't crash anymore

but all of the rendered pages are empty for some reason

[2020-11-07 13:02] talentlessguy commented on #184
ok i found out the problem

`server.all('*')` wasn't catching any routes

try using `server.use((req, res) => handle(req, res))` instead

[2020-11-07 13:21] talentlessguy commented on #184
Fixed `server.use` in `0.5.12`

try now with:

[code]

[2020-11-07 13:21] #184 closed

[2020-11-07 13:22] talentlessguy commented on #184
@all-contributors add @vitalybaev for bug

[2020-11-09 20:43] talentlessguy opened #186 "Create OpenAPI validator example"
Create an example using [express-openapi-validator](https://github.com/cdimascio/express-openapi-validator) and tinyhttp

[2020-11-13 04:16] MVEMCJSUNPE commented on #89
For Deno, it might be a good idea to use [denoify](https://www.npmjs.com/package/denoify).

[2020-11-13 07:51] talentlessguy commented on #89
@MVEMCJSUNPE the problem is that `std/node/http` is not yet implemented

[2020-11-13 21:43] MVEMCJSUNPE commented on #89
There's definitely work that has already been done on porting node's http to deno though. Check out this [pull request](https://github.com/Soremwar/deno_node_http/pull/1).

[2020-11-13 21:53] MVEMCJSUNPE commented on #186
Can I work on this issue?

[2020-11-13 23:25] talentlessguy commented on #186
@MVEMCJSUNPE yup

[2020-11-14 02:23] MVEMCJSUNPE commented on #186
Thanks. Btw, maybe I'm just stupid, but I can't seem to run the examples? My node version is v15.2.0, pnpm version is 5.11.1, and I'm pretty sure I've followed the instructions in CONTRIBUTING.md (pnpm i, pnpm i -r, pnpm build). When I try running an example (say vue-ssr), I get
[code]

I'm running Windows, so maybe that could be a problem.

[2020-11-14 07:26] talentlessguy commented on #186
@MVEMCJSUNPE run `pnpm i @tinyhttp/app` inside of the example so it links the package

[2020-11-15 02:43] MVEMCJSUNPE commented on #186
Maybe I'm just being dumb again, but I don't think that express-openapi-validator works with tinyhttp. After changing the require statements to import statements in express-openapi-validator's first [example](https://github.com/cdimascio/express-openapi-validator/blob/master/examples/1-standard/app.js) and replacing express() with new App, app.js looks something like this:
[code]
However, I get `C

[2020-11-15 13:22] talentlessguy commented on #89
@MVEMCJSUNPE tried to import from that PR, seems to be not working:

[code]

[code]

[2020-11-16 13:09] talentlessguy commented on #186
@MVEMCJSUNPE

`.use(...)` method is located in `@tinyhttp/router`'s `Router` class

[2020-11-16 16:17] talentlessguy opened #187 "Projects using tinyhttp"
Send your project as a reply to this thread, no matter if open source or close source :D

I'll take some of them and list on the main page :D

[2020-11-17 04:27] MVEMCJSUNPE commented on #186
So digging through the source code and doing some debugging, I've finally found the reason why express-openapi-validator isn't working with tinyhttp. As we can see from this stack trace, the error is occurring somewhere in openapi.validator.js, which is the compiled version of openapi.validator.ts.
<img width="958" alt="express_param_failure" src="https://user-images.githubusercontent.com/10354503

[2020-11-17 08:04] talentlessguy commented on #186
@MVEMCJSUNPE thanks for taking time to find the root cause! Sorry that I didn't look it up before suggesting to use it :(

and yeah `app.param` isn't implemented

so now we have two options:

- we find an alternative of this package
- we close the issue

gonna search some other modules up and send here

[2020-11-17 08:15] talentlessguy commented on #186
could you please try these instead?

- https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-response-validator
- https://github.com/Hilzu/express-openapi-validate

[2020-11-19 10:09] #186 closed

[2020-11-22 11:59] talentlessguy commented on #169
closed via #190

[2020-11-22 11:59] #169 closed

[2020-11-24 16:27] #80 closed

[2020-11-24 19:39] talentlessguy commented on #162
Only now I noticed that `app.param` is deprecated

closing because tinyhttp is not going to implement deprecated methods

[2020-11-24 19:39] #162 closed

[2020-11-24 19:41] talentlessguy commented on #77
After months of hard work and contributions from a lot of people, I'm happy to announce that Express API implementaiton is 100% complete!

p.s. not including deprecated methods which aren't planned to be implemented

[2020-11-24 19:41] #77 closed

[2020-11-26 13:31] talentlessguy commented on #52
Another option would be moving to Mocha + [Earl](https://earljs.dev/docs/)

but I'm too lazy to do it so feel free to PR with the newly configured tests

[2020-11-28 11:46] talentlessguy opened #191 "NestJS adapter"
**Is your feature request related to a problem? Please describe.**

An adaper for Nest will let you use tinyhttp inside of Nest instead of Express.

**Describe the solution you'd like**

A Nest.js adapter package, something like `@tinyhttp/nest-adapter`

**Additional context**

- [NestJS platform-express](https://github.com/nestjs/nest/tree/master/packages/platform-express)
- [nestjs-platform-polk

[2020-11-29 08:38] Dev-CasperTheGhost opened #192 "Router error - TypeScript errors"
**Describe the bug**

When linking the router to my app and going to the path, the process crashes and returns an error

**To Reproduce**

Steps to reproduce the behavior:

1. Create an App (TypeScript)
2. Create a router (TypeScript)
3. Use the router in the app
4. Go to the API route

**Expected behavior**

The app should not crash and should return the requested response

**Versions**

* `node`

[2020-11-29 11:06] talentlessguy commented on #192
`Router` shouldn't be used in HTTP apps, it's a general abstraction for routing, without any request and response extensions. It doesn't even have a `handle` function.

Instead, you should use `App`. It has all required properties and you can connect apps to other apps, as described in [the guide](https://tinyhttp.v1rtl.site/learn#subapps)

[2020-11-29 11:06] #192 closed

[2020-11-29 11:08] Dev-CasperTheGhost commented on #192
Ahh, thanks!

[2020-11-30 17:38] #79 closed

[2020-11-30 19:23] #21 closed

[2020-12-05 10:17] simone-sanfratello opened #196 "routing syntax"
Hello everyone,

I can't find in the documentation the syntax supported on routes. I suppose express syntax is supported, but it is not: for example, I tried using regexp in routes.

Is it possible to update the documentation?

I would be happy to do that, if anyone could give me an overview on what is supported and what is not

Thanks

[2020-12-05 11:27] talentlessguy commented on #196
Regex aren't supported as paths but you can add it via PR

also, I'm not sure what functionality you're missing, could you please be more concise?

as for paths, strings are supported, e.g. `/:hello`

for wares, handler functions, list of wares and array of wares are supported, it's mentioned [here](https://tinyhttp.v1rtl.site/learn#routing)

[2020-12-05 15:15] simone-sanfratello commented on #196
Thanks for the quick response! That's what I was looking for.

[2020-12-05 15:15] #196 closed

[2020-12-10 14:16] talentlessguy opened #198 "Deno support"
Now that `@tinyhttp/router` no longer depends on `http` module of Node.js, it should be very easy to implement basic Deno support for tinyhttp. Probably it would be cool to have it located in the separate `deno` folder with all editor settings specifically for it.

There aren't strict requirements on how it should be implemented, but i suppose we need to use either raw gh links, jspm or skypack to

[2020-12-10 20:29] creepinson opened #199 "original app settings aren't inherited for subapps"
**Is your feature request related to a problem? Please describe.**
I have setup a subapp with `new App()` and used it for a login page. I have also set up a few middlewares and the pug view engine in the parent app instance. However, it keeps logging:

**Describe the solution you'd like**
res.render in the sub app should render the page.

**Describe alternatives you've considered**
I have tried se

[2020-12-10 20:31] creepinson commented on #199
Also, this could go in a different issue but since this is related to the subapp issue:

I keep getting 404's on the subapp root page ("/admin/") but on "/admin/login" it works and actually tries to render the page.

Example:
[code]

[2020-12-10 20:35] talentlessguy commented on #199
looks like it's tinyhttp bug because Express apps always inherits settings

will look into it

[2020-12-10 20:35] talentlessguy commented on #199
please put it in the separate issue because it's not related to the original issue

[2020-12-11 11:42] talentlessguy commented on #199
@creepinson I'm trying to reproduce the same thing with express and I get this:

[code]

doesn't look like it inherits the engine, maybe i'm doing something wrong here?

ofc we could add support to it even if it's not Express, but I'm not sure if it can be considered as a bug or not

[2020-12-11 17:34] creepinson commented on #199
Oh, I guess I havent worked with engines enough to know that it wasnt a thing. Yeah, it seems like an option to inherit those would be nice as I was trying to organize my routes into folders but that means I'd have to copy the view engine code to each route file which seemed unnecessary.

[2020-12-11 17:53] talentlessguy commented on #199
@creepinson you can solve it using a simple function:

[code]

[2020-12-11 20:08] #199 closed

[2020-12-11 20:15] talentlessguy commented on #199
cannot reproduce this, it works fine for me:

[code]

[code]

[2020-12-12 19:27] talentlessguy commented on #198
the better option would be moving it to a separate repo so ti's easier to develop

[2020-12-14 08:27] calumk opened #200 "Example of best practice (Async) Routes in a separate file"
**Is your feature request related to a problem? Please describe.**
Could you please provide an Example of placing (Async) routes in a separate file

**Describe the solution you'd like**
I am unable to successfully include a route with async functions in a separate file.

The following - Works perfectly in the main file.

[code]

The following - fails if placed in a separate routes.js file. (route

[2020-12-14 09:09] talentlessguy commented on #200
how did you create the router? did you do `const router = new App()`?

[2020-12-14 11:42] calumk commented on #200
Code is CommonJS not EMS, (although Originally i had it written in EMS and experienced identical behaviour)

asynchronous functions are declared separately in the asyncFunctions object,  and passed to eta.
https://eta.js.org/docs/syntax/async

This works in main.js, but doesn't work if i specify it in a separate file.

I have simplified my code but below should explain

**asyncFunctions.js**
[code

[2020-12-14 13:00] talentlessguy commented on #200
what is the contents of `routes.js` file?

[2020-12-14 15:00] talentlessguy commented on #200
@calumk from the docs it says that you must enable `async: true` as a template option.

To do that, you need to pass settings to `res.render`:

**typescript version**

[code]

**javascript version**:

[code]

[2020-12-14 15:08] talentlessguy commented on #200
ok looks like there is a router bug, it doesn't seem to queue wares properly

will look into that

[2020-12-14 15:16] talentlessguy commented on #200
Fixed in v1.0.13:

[code]

[2020-12-14 15:16] #200 closed

[2020-12-14 22:29] calumk commented on #200
@talentlessguy , Many thanks for your work on this, I really appreciate it, and how quick you were.

I can confirm - 1.0.13 fixed the issue without the need for me to re-write anything.

{async: true} is not required, due to new sugar in Eta -> Eta.renderFileAsync
https://github.com/eta-dev/eta/issues/49

[2020-12-16 03:23] creepinson opened #201 "session: cannot find module 'express-session'"
**Describe the bug**

I can;t figure out what the problem is exactly but it keeps saying
[code]

I installed it manually and it broke everything. I will double check what it broke exactly but I thought I wouldn't need express types for tinyhttp work??

**To Reproduce**

Steps to reproduce the behavior:

1. ... use @tinyhttp/session middleware
2. ... add express as dependency

**Expected behavior**

[2020-12-17 11:28] talentlessguy commented on #201
Could you try updating please? via

[code]

[2020-12-18 13:02] talentlessguy commented on #201
Is the problem still present, @creepinson?

[2020-12-18 21:16] creepinson opened #202 "UnhandledPromiseRejectionWarning: TypeError: h is not a function"
**Describe the bug**

I tried to use socket.io and compression middleware but even after removing compression it gives this error upon trying to browse to the server url.

**To Reproduce**

Steps to reproduce the behavior:

1. ... use socket.io with `const server = app.listen(3000)`
2. ... compression middleware

**Expected behavior**

To load the page fine (serving html)

**Versions**

* `node`:

[2020-12-18 21:16] creepinson commented on #202
Full error:
[code]

[2020-12-18 21:19] creepinson commented on #202
OOps, turns out I forgot paraentheses on my app.use

[code]
and i should ahve done
[code]

[2020-12-18 21:19] #202 closed

[2020-12-19 08:59] #201 closed

[2020-12-19 09:06] ewired opened #203 "App.use does not alter request path for middleware"
**Describe the bug**

The `sirv` or `serve-static` middleware does not serve files when putting it under another path in the router. It does work when the mount path is `/` or corresponds with the filesystem.

**To Reproduce**

[code]
[code]

**Expected behavior**

[code]

**Versions**

* `node`: v14.13.0
* `@tinyhttp/app`: ^1.0.14

**Additional context**

[code]

[2020-12-19 13:56] talentlessguy commented on #203
interesting, using `epxress` the path gets removed from `req.path`:

[code]

[code]

and the same code with tinyhttp:

[code]

[code]

I think the issue comes from `req.path` property but I don't know yet the exact root of the problem

will investigate

[2020-12-19 13:58] talentlessguy commented on #203
ok so what express does is that it strips the path, e.g. `/static`, from `req.url` and `req.path`

but it remains in `req.originalUrl`

will fix it in a moment :D

[2020-12-19 15:06] talentlessguy commented on #203
Seems like I fixed it (run `pnpm up -L` to update) but it broke everything else (website as example) D:

currently investigating (again)

[2020-12-19 15:10] ewired commented on #203
If you are referring to the Middleware section of the site, I recall that it has been responding with the same error since yesterday.

[2020-12-19 15:42] talentlessguy commented on #203
@ewired no I mean this:

[code]

Something bad happens to request... no clue why it happens (yet)

[2020-12-19 16:05] talentlessguy commented on #203
okkk i fixed it, this thing didn't work as it should because `req.orignalUrl` contantly got assigned to `req.url` through multiple middleware, resulting in substringing of `req.url`

I suppose it's all working as it should now

try with:

[code]

[2020-12-19 16:11] talentlessguy commented on #203
Looks like it's still not fixed, the example in the issue returns 404 on files

[2020-12-19 16:22] ewired commented on #203
I thought it was working for a second, but it turns out it is just forwarding the request on to the `/pages` handler middleware which erroneously corresponds with the filesystem. I've tried some debugging and I can't find what `sirv` and `serve-static` would consider to be wrong about the `req.path`. I have tested `polka` to work correctly in the same example, so it may provide some clues.
[code]

[2020-12-19 16:26] talentlessguy commented on #203
Just published v1.0.17, seems like it *almost* works the way it should:

[code]

[code]

console:

[code]

[2020-12-19 19:19] talentlessguy commented on #203
I'm happy to finally announce that routing and paths are finally (!!!) fixed

took the whole day to fix multiple bugs but it was worth it

I apologize for not handling this issue before, but now it shouldn't be present anymore.

please update to latest and let me know if it's still present

[2020-12-20 17:12] calumk opened #204 "Documentation Error - app.delete"
**Describe the bug**
code example in Documentation for : [https://tinyhttp.v1rtl.site/docs#appdelete](https://tinyhttp.v1rtl.site/docs#appdelete) is wrong, copied from documentation for app.put

[code]

should read

[code]

[2020-12-20 17:32] #204 closed

[2020-12-20 17:33] talentlessguy commented on #204
It's fixed now

![image](https://user-images.githubusercontent.com/35937217/102720010-9690ce00-4302-11eb-97ab-4fad92b9879b.png)

[2020-12-20 18:58] calumk opened #205 "res.redirect broken?"
**Describe the bug**

Path provided to res.redirect gets passed through `encodeURIComponent`, which results in failure, for all but simple redirects.

**To Reproduce**
Steps to reproduce the behavior:
[code]
http://localhost:3000/test_redirect1 --> http://localhost:3000/test_redirect_destination 👍

---
[code]
http://localhost:3000/test_redirect2 --> http://localhost:1338/test_redirect_destination%

[2020-12-21 11:07] #205 closed

[2020-12-21 11:12] talentlessguy commented on #205
It's fixed now.

Install new version:

[code]

[2020-12-23 11:51] anlexN opened #206 "can you rewrite passportjs with typescript?"
**Is your feature request related to a problem? Please describe.**
What problem does it solve?
auth
**Describe the solution you'd like**
[passportjs](https://github.com/jaredhanson/passport) now is es5 syntax, i need modern syntax.

[2020-12-23 11:55] talentlessguy commented on #206
Rewriting all libraries in the universe is not the purpose of this project. tinyhttp aims to be a replacement of Express but not the whole ecosystem.

You can start this project yourself (I  mean passport rewrite) and later you can submit a PR with the example of integrating tinyhttp and your passportjs rewrite

[2020-12-23 11:55] #206 closed

[2020-12-23 12:19] calumk commented on #203
@talentlessguy - I think I am still getting some strange behaviour here, but not 100%.
It could be the way my _routes.js file is setup, but I'm fairly confident.

[code]

### Trying to mount two middleware on the same route fails, or provides odd behaviour

The example below, with one `use` and one `get` is fine.
**main.js**
[code]

---

Two `use`, causes the serveStatic to fail (order is unimport

[2020-12-23 12:36] talentlessguy commented on #203
@calumk looks like it's a subapp issue. Subapp handles all the paths starting with `/`, leading to paths in the original apps getting ignored

will close this issue and open a new one

[2020-12-23 12:36] #203 closed

[2020-12-23 12:40] talentlessguy opened #209 "Subapp overrides all paths, even the ones from original app"
**Describe the bug**

When a subapp is mounted on a path, all of the middlewares with the same path in the original app are ignored and return 404 because it's being handled by a subapp.

**To Reproduce**

[code]

[code]

**Expected behavior**

If subapp couldn't find the handler with the request path, the original middleware should handle it instead.

[code]

**Versions**

* `node`: 15.4.0
* `@ti

[2020-12-23 13:32] talentlessguy commented on #209
Another noticeable bug is that subapps have incorrect `req.originalUrl` and other URL values

[2020-12-23 14:03] anlexN commented on #206
@talentlessguy how do you do Auth?

[2020-12-23 14:21] talentlessguy commented on #209
@calumk do you have any ideas how to improve subapp handling? In the old version of Polka it used `handler.bind(null, req, res)` but it introduces a lot of bugs

in the new version... I'm not sure what happens here:

[code]

[2020-12-23 14:25] talentlessguy commented on #206
@anlexN there are examples of authentification using JWT in the "examples" folder

And you still can use passport, like this:

[code]

[2020-12-23 14:27] calumk commented on #209
@talentlessguy
Sorry, i'm not going to be much help assisting with this, your expertise in this area far outweighs mine.
It seems i'm good at finding the problems, but I am afraid I am not proficient enough to solve them!

[2020-12-23 14:29] calumk commented on #209
@talentlessguy was tinyhttp originally based on polka?

[2020-12-23 14:31] talentlessguy commented on #209
@calumk oh no problem then

tinyhttp was inspired by Polka and I took some concepts from it but it doesn't directly depend on Polka

I've spent 2 hours trying to make it work similar to Polka but atm I fail at doing this... but I hope I fix it

So yeah... subapps currently are broken

[2020-12-23 14:45] anlexN commented on #206
you don't understand my means. i say what auth solution do you use?

[2020-12-23 14:53] talentlessguy commented on #206
@anlexN I use JWT

example is here: https://github.com/talentlessguy/tinyhttp/tree/master/examples/jwt

[2020-12-23 14:59] talentlessguy commented on #209
@calumk could you please try to install a new version?

[code]

[2020-12-23 15:26] calumk commented on #209
@talentlessguy - Thats seems to fix it for me 👍

Sorry for taking so many hours of your time!

[2020-12-23 15:35] talentlessguy commented on #209
@calumk yaaay

and lol you don't have to apologize for me making bugs

thanks for reporting it :D

[2020-12-23 15:35] #209 closed

[2020-12-23 15:36] calumk commented on #209
You can add me to the bug contributors list ;)

[2020-12-23 15:37] talentlessguy commented on #209
@all-contributors add @calumk for bug

[2020-12-24 09:57] paulocoghi opened #211 "What tinyhttp plans to offer beyond Polka"
Just out of curiosity, what are the maintainers plan with tinyhttp regarding features and/or performance when comparing to Polka?

Thanks!

[2020-12-24 11:03] talentlessguy commented on #211
It's mentioned right in the README and [COMPARISON.md](https://github.com/talentlessguy/tinyhttp/blob/master/COMPARISON.md) file

https://github.com/talentlessguy/tinyhttp#comparison

[2020-12-24 11:03] #211 closed

[2020-12-24 11:16] talentlessguy commented on #211
In case you need a more detailed answer:

- tinyhttp provides a list of prebuilt middlewares to avoid using ancient middlewares for express
- tinyhttp offers types out of the box (without having to install custom types)

[2020-12-24 11:22] paulocoghi commented on #211
Thanks for the answer!

[2020-12-25 05:16] anlexN opened #212 "please don't use "as""
![image](https://user-images.githubusercontent.com/8686739/103120520-0e6c4900-46b3-11eb-8ae4-a1e3d80aa7af.png)
this is not a good code style. it is very easy to confuse other code.

[2020-12-25 07:48] #212 closed

[2020-12-27 12:42] Debdut opened #213 "src folder"
Where is it? I can't see

[2020-12-27 13:08] talentlessguy commented on #213
i don't understand what's the problem with this lol, please be more concise

[2020-12-27 13:08] #213 closed

[2020-12-31 10:15] calumk commented on #213
@Debdut - the main repo doesn't contain /src, look in the packages for the individual packages, with their /src folders.

[2021-01-08 18:01] byluisro opened #214 "Route with query params don't found"
**Describe the bug**

When make a get request with query params don't handle the app route instead log `404 NOT FOUND`.

Code:
[code]

Logger output:
[code]

Dependencies:
[code]

[2021-01-08 20:34] talentlessguy commented on #214
Oopsie I'm sorry for this silly mistake, looks like i'm trying to match `req.url` and `mw.path`

Fixing now...

[2021-01-08 20:34] #214 closed

[2021-01-08 20:41] talentlessguy commented on #214
Fixed in 1.1.7:

@byluisro please install new version:

[code]

[2021-01-08 21:13] byluisro commented on #214
Amazing, now it's working thanks

[2021-01-09 11:52] I-dodo opened #215 "Can't set multiple cookies with res.cookie"
**Problem with res.cookie**

I am trying to set multiple cookies with `res.cookie`.
(Only the last one saved)

My code:
[code]

I tried `@tinyhttp/cookie-parser` and `cookie-parser`, but the same results.

**Versions**

* `node`: 12.19.0
* `@tinyhttp/app`: 1.1.5
* `@tinyhttp/cookie-parser`: 1.1.6

Does someone know what may be the problem?

[2021-01-09 22:01] talentlessguy commented on #215
I'm not sure why use `await parse` here when `@tinyhttp/cookie-parser` has a completely different API

the correct way to use it is:

[code]

[2021-01-10 15:32] I-dodo commented on #215
I am trying to prase the cookies just if specific data is sent with the page. Is there a better way to do it?
(I do it so I can speed up my server as fast as possible)

[2021-01-10 15:52] talentlessguy commented on #215
@I-dodo I'm not sure what you mean but in order to use cookieParser do this:

[code]

[2021-01-10 16:30] I-dodo commented on #215
I try to explain myself in another way:
I am trying to `parse`, use and `set` new cookies, only if the client sends specific data.
I do it because most of the URLs in the server do not use cookies and it pointless to do it to every URL the server gets (It burden).

I already do it with the session and it works very well and increases the server speed in 10-15 milliseconds.
I hope it possible to do

[2021-01-10 16:42] talentlessguy commented on #215
@I-dodo ohhh now it's clear

then I recommend using `@tinyhttp/unless` to set `cookieParser(...)` only for specific middleware:

[code]

as for setting cookies, multiple `res.cookie` calls will override the `Set-Cookie` header. And it's surely a bug. Will work on it now.

thanks for reporting :D

[2021-01-10 16:54] I-dodo commented on #215
Greate, thanks for the help.
BTW I adore this framework. The speed it Amazing! (～￣▽￣)～

[2021-01-12 17:32] talentlessguy commented on #215
Ok i think this is fixed, at least tests pass.

to install:

[code]

[2021-01-12 17:32] #215 closed

[2021-01-13 18:46] talentlessguy commented on #215
@I-dodo ok I fixed the broken release, should be working now.

also could you please explain why do you use CommonJS instead of `import` / `export` with tinyhttp? ESM is fully supported in tinyhttp but I noticed that some folks keep using cjs... Is it a personal pref?

[2021-01-13 19:44] talentlessguy opened #216 "Feedback ✨"
This issue serves a purpose of gathering feedback about tinyhttp.

feel free to express your both positive and negative feedback here, what you like about the framework or what you hate in it.

If your project uses tinyhttp you can also write here if you have thoughts about it.

<sub><strong>p.s.</strong> migration from Express feedback is especially welcome</sub>

[2021-01-13 23:06] shadowtime2000 commented on #216
@talentlessguy You should probably put your repo [in this thread] to get the ability to transfer this issue to a discussion.

[2021-01-17 12:50] talentlessguy commented on #216
@shadowtime2000 created a discussion: https://github.com/talentlessguy/tinyhttp/discussions/217

[2021-01-17 12:50] #216 closed

[2021-01-21 12:43] darklight147 opened #219 "app.route always responds with 404 on all incoming routes"
[code]

the above code doesn't catch the route /test neither in get nor post

**Steps to reproduce**

Steps to reproduce the behavior:

run the follwing code and hit the route "/test" either with get or post

[code]

**Expected behavior**

the request handlers should have fired

**Versions**

* `node`: 14.6.0
* `@tinyhttp/app`: 1.1.10

[2021-01-21 14:19] #219 closed

[2021-01-21 14:21] talentlessguy commented on #219
@darklight147 I think it's fixed, at least tests pass

https://github.com/talentlessguy/tinyhttp/blob/db58c183d641baaed2605f2d34a634ae28b1d704/__tests__/core/app.test.ts#L230-L252

update tinyhttp:

[code]

[2021-01-22 09:20] darklight147 commented on #219
Nice

[2021-01-23 11:54] secretlifeof opened #220 "MiddleWare Request Type error"
**Describe the bug**

Hello!
I am trying out Tinyhttp for the first time. Thank you for writing the good documentation. I guess it must have taken quite a while. Tried out the GraphQL example adding the "graphql" route as a middleware and got the following type error:

[code]

**To Reproduce**

1. Install using pnpm
2. Create a Tinyhttp server:
[code]

3. Create GraphQL middleware:
[code]

**Expec

[2021-01-23 13:54] talentlessguy commented on #220
thanks for filing the bug, will look into it soon.

Meanwhile, the quick fix is:

[code]

[2021-01-24 12:38] secretlifeof commented on #220
Thanks a lot for your rapid(!) answer @talentlessguy.

A little bit embarrassed that I didn't think of that.

[2021-01-26 17:40] calumk opened #221 "no `preflightContinue` option in @tinyhttp/cors"
**Describe the bug**
HTTP Methods requiring preflights do not work.

GET / POST work as intended as they are simple requests
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#simple_requests

Passing a "DELETE" request from postman or similar, also works as intended, as preflight is skipped

**To Reproduce**
Passing a "DELETE" request from fetch (in browser) doesnt work, as it sends a "OPTION

[2021-01-26 18:36] calumk commented on #221
Sorry for the short description above, I was in a rush.
Having a look at the express handling for 'OPTIONS', they seem to respond with headers automatically

https://github.com/expressjs/cors/blob/5c0b6c7a0cbf126c949b9a76c7c67e26eba6b3e1/lib/index.js#L159-L190

I'm not sure how best to solve this.

If you modify the route handler, to push  both OPTIONS and DELETE Middleware on a delete request, it

[2021-01-26 18:48] calumk commented on #221
Ignore Above, Pushing two middlewares does not solve this.

`api.options('/schemas', (req, res) => {  res.send(" "); });`

remains the only working solution for me at the moment

[2021-01-26 18:57] talentlessguy commented on #221
Is it an issue with core or `@tinyhttp/cors` module?

[2021-01-27 09:31] calumk commented on #221
Not sure im afraid.

I think there is a difference in how express/tiny-http handle this, thats why i linked to the express cors plugin, because they deal with it there

[2021-01-27 19:35] #220 closed

[2021-01-27 19:38] talentlessguy commented on #220
I fixed the typings to be identical to Express ones.

Please update your tinyhttp pkg:

[code]

[2021-01-30 17:12] ac5tin opened #222 "Serverless example doesn't work"
**Describe the bug**
Wrapped `app.handler` inside the `serverless-http` default export just like the example did but got an error.
[code]

**To Reproduce**

[code]

**Versions**

* `node`: 12.x (serverless)
* `@tinyhttp/app`: 1.1.11

**Additional context**

Works if I wrap `express` app inside `serverless`

[2021-01-30 18:58] talentlessguy commented on #222
Are you trying to make AWS example work or Vercel example work?

cuz both are server less

[2021-01-31 08:29] ac5tin commented on #222
yes, the AWS example

[2021-01-31 11:35] talentlessguy commented on #222
could you please provide a reproduction repository so I can quickly set it up and spot the buggy place?

[2021-02-01 21:00] talentlessguy commented on #221
Could you please try with `@tinyhttp/cors`?

[code]

[2021-02-01 21:30] #221 closed

[2021-02-01 22:38] calumk opened #223 "res.json(null), no response"
**Describe the bug**

Documentation says `null` is a valid argument https://tinyhttp.v1rtl.site/docs#resjson

However if you pass null to res.json() then no response is sent back to client

[code]

**How to fix**

the issue is that if `body = null` , it causes an edge case here:

https://github.com/talentlessguy/tinyhttp/blob/a909c9918460eeef4e0ed2509399ed7b46149466/packages/send/src/json.ts#L11-L

[2021-02-03 13:38] aldy505 opened #224 "CORS middleware multiple origin support"
Express' cors middleware support multiple origin routes, yet tinyhttp only support a single origin.

I'd like to know if there is any reason/consideration for this. If not, I'll fork the repo and submit a PR for this as soon as possible.

Thanks!

[2021-02-03 18:17] talentlessguy commented on #224
multiple origins are supported...

just do this:

[code]

here's where origin gets set https://github.com/talentlessguy/tinyhttp/blob/a909c9918460eeef4e0ed2509399ed7b46149466/packages/cors/src/index.ts#L32

[2021-02-03 18:20] talentlessguy commented on #224
interesting.... so cors header doesn't support multiple origins by default

but expressjs/cors does...

https://stackoverflow.com/questions/1653308/access-control-allow-origin-multiple-origin-domains

[2021-02-03 18:29] talentlessguy commented on #223
Could you please send a PR with a bugfix? (should be smth as easy as `body || {}`)

currently don't have time to work on tinyhttp :v

[2021-02-04 11:08] calumk commented on #223
Done, Code deliberately verbose for clarity.

[2021-02-07 13:08] aldy505 commented on #224
Alright. I was wondering if is there any bug with the current cors module? I tried with this simple code and it won't load anything.

[code]

Also if you emptied the origin option, you'll get this error, which I think this is pretty weird:
[code]

But Express' cors did fine. I'm running Windows on Node 14.15.4, with pnpm 5.16.0.

Aside from that problem, I already wrote on multiple (array) origin

[2021-02-07 14:34] talentlessguy commented on #224
@aldy505 nah I think it's just that it's not implemented in `@tinyhttp/cors` but is implemented in `cors`...

also regarding that bug, could you please try it again v new version?

[code]

[2021-02-07 14:46] aldy505 commented on #224
I think it was my fault, Express cors defaulted true for `preflightContinue`. May I suggest changing it to true as well?

I can't think of how to put multiple origin on test folder, so I make one repository on it (with Regex and Array support): https://github.com/aldy505/tinyhttp-cors-test

[2021-02-07 14:49] talentlessguy commented on #224
@aldy505 ok, gonna push a new version for defaulting to true

regarding RegExp support, could you please PR this? I'd gladly merge this :>

[2021-02-07 14:57] talentlessguy commented on #224
`preflightContinue` defaults to true now, in new version

[code]

[2021-02-08 16:01] #224 closed

[2021-02-08 21:35] ike18t commented on #222
I ran into this issue as well.  Since @ac5tin hasn't provided a repro repo I have setup a simple example located here:
https://github.com/ike18t/tinyhttp-serverless

[2021-02-09 02:27] tim-field opened #229 "CORS: 404 request for all OPTION requests"
**Describe the bug**

I get a 404 for OPTIONS requests, that work with GET.

I've tried `preflightContinue: true` that didn't help either

**To Reproduce**

[code]

**Versions**

* `node`: 14
* `@tinyhttp/cors`: 1.1.5
* `@tinyhttp/app`: 1.1.12

[2021-02-09 17:10] talentlessguy opened #230 "Dropping CommonJS TODO"
See https://github.com/talentlessguy/tinyhttp/discussions/218

The migration process will go step by step so people won't find themselves out having tinyhttp broken at all.

- [ ] app / req / res / other
- [ ] logger
- [ ] markdown
- [ ] session
- [ ] ip-filter
- [ ] unless
- etc

[2021-02-10 12:01] talentlessguy commented on #229
@tim-field do you have an idea of how to fix this?

[2021-02-11 04:44] aldy505 commented on #229
@tim-field can you please try using #231 or through my sample repo here: https://github.com/aldy505/tinyhttp-cors-test

[2021-02-11 20:01] #229 closed

[2021-02-11 20:14] talentlessguy commented on #229
@aldy505 should be fixed with the new version:

[code]

[2021-02-16 15:30] talentlessguy commented on #222
Found the problem!

It comes from here:

[code]

for some reason `this` is undefined here

[2021-02-17 09:45] ahmad-reza619 commented on #222
Hi there, i believe this has to do with where the function is called, you can refer more explanation [here](https://github.com/getify/You-Dont-Know-JS/blob/1st-ed/this%20%26%20object%20prototypes/ch2.md#implicitly-lost)

CMIIW but I think the workaround is like this
[code]

[2021-02-17 20:15] talentlessguy commented on #222
@ahmad-reza619 looks like your workaround works, then I will update the example and close the issue

[2021-02-17 20:30] #222 closed

[2021-02-17 20:53] spideythewebhead commented on #25
Hi, i tried to use body parser with tinyhttp (using typescript) but it doesnt seem to work due to types

[2021-02-17 20:55] talentlessguy commented on #25
@spideythewebhead please provide a reproduction sample

[2021-02-17 20:58] spideythewebhead commented on #25
Holy shit you answered fast :p

[code]

![Screenshot 2021-02-17 at 10 57 01 PM](https://user-images.githubusercontent.com/55633618/108267003-78fdaa80-7173-11eb-987d-a58175395246.png)

[2021-02-17 22:35] spideythewebhead commented on #25
ok, a 'workaround' is to cast as `any` and seems to work fine!

[code]

Sorry, for the inconvenience.

[2021-02-17 23:11] talentlessguy commented on #25
@spideythewebhead that's not a good solution

could you pls provide your tinyhttp version? I thought that type error got fixed before

[2021-02-18 06:49] spideythewebhead commented on #25
@talentlessguy yeah i know but its not a great deal

[code]

[2021-02-18 14:42] talentlessguy opened #235 "ESM transition TODO"
In tinyhttp 2 ( https://github.com/talentlessguy/tinyhttp/milestone/2) there will be no CommonJS builds. Most modules are hand-written so it can't all be transitioned at once. This issue is to keep track of the progress.

# 3rd-party modules

- [x] `es-mime-types` ([PR](https://github.com/talentlessguy/es-mime-types/pull/1))
- [x] `es-fresh` ([PR](https://github.com/talentlessguy/es-fresh/pull/1))

[2021-02-18 16:31] spideythewebhead commented on #25
Ok I am not sure what exactly happened, I did try it on a new project and it works without the casting

[2021-02-18 21:37] RikuVan opened #236 "Websockets example app"
Trying to set up websockets with tinyhttp and, e.g., socket.io and there was a bit of friction because of a missing example. Would be willing to make a PR with an example app but first I need to check what is the best way to do it. This seems to work but is there a preferable way?

[code]

[2021-02-18 22:07] talentlessguy commented on #236
socket.io is a bit of old

might worth making an example w/ [ws](npm.im/ws) pkg instead

[2021-02-19 07:03] RikuVan commented on #236
Sure I can use ws (had chosen socket.io for the rooms functionality I need for my case). I wonder then if the better to set it up with tinyhttp is using the `upgrade` event and `app.listen` like this: [https://github.com/websockets/ws#multiple-servers-sharing-a-single-https-server](https://github.com/websockets/ws#multiple-servers-sharing-a-single-https-server)?

[2021-02-19 10:36] talentlessguy commented on #236
@RikuVan `app.listen` returns the server so you can use it like this:

[code]

[2021-02-19 13:54] talentlessguy commented on #198
I'm happy to announce that I started working on the port of tinyhttp for Deno!

See the repo here: https://github.com/talentlessguy/tinyhttp-deno

[2021-02-19 15:30] ognjenjevremovic commented on #191
Hey @talentlessguy I see this issue is opened for quite some time.
I would like to see _tinyhttp_ integrated with _NestJS_; do you mind if I take a closer look at this if it is not already implemented / worked on?

Also, I am wondering how would one test the underlying implementation of the mentioned adapter?
Should a _dummy_ application be made (or perhaps taken from [NestJS samples](https://gith

[2021-02-19 16:26] talentlessguy commented on #14
First working version is availiable to install via:

[code]

[2021-02-19 17:49] #14 closed

[2021-02-19 20:13] talentlessguy commented on #191
@ognjenjevremovic you could either create the separate repo with your own rights and else, or create a pull request

to test the implementation you can create an example in `examples` folder and of course write a bunch of unit tests

[2021-02-20 08:28] talentlessguy commented on #223
Bugfix landed in 344a8ae79c72a803dba5b34614d5272c432bbf8c, so closing

[2021-02-20 08:28] #223 closed

[2021-02-22 10:59] adam-delezuch-goodc opened #238 "Unable to set url prefix for the application"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/talentlessguy/tinyhttp/issues/238)

The application model provides for several api versions for one application. Setting the url prefix is impossible because it selects the first element in the array

[code]

**Versions**

* `node`: 14
* `@tinyhttp/app`: 1.1.13

---

<

[2021-02-22 13:45] talentlessguy commented on #238
Could you try with

[code]

?

[2021-02-22 14:54] adam-delezuch-goodc commented on #238
This code is not working.

See my example:
[code]

[code]

[code]

[code]

In this case, the product will return status 200 and upload status 404.

[2021-02-22 15:26] talentlessguy commented on #238
Looks like something serious and probably I broke it with a recent commit

will try to fix asap

[2021-02-22 19:45] talentlessguy commented on #238
I think the problem occurs here: https://github.com/talentlessguy/tinyhttp/blob/9a5573fb7fd724d52217745c839d81bacb3f90f9/packages/app/src/app.ts#L109

And sadly I don't know how to solve the problem.... :c

If you have an idea of how to fix that I would be very awesome to share

From what I understand the problem is that the first app gets mounted and then the apps coming after don't get handled (

[2021-02-23 09:27] talentlessguy commented on #238
It turns out to be a bug in Polka: https://github.com/lukeed/polka/issues/159

[2021-02-24 11:42] talentlessguy commented on #238
A temporary fix would be this:

[code]

[2021-03-03 18:33] #65 closed

[2021-03-08 13:44] iamricard commented on #25
Hi! I've run into this, and it seems to still be happening. `body-parser@1.19.0` (same for `@types`) and `@tinyhttp/app@1.1.12`. It looks like `SyncHandler` and `AsyncHandler` claim that `next?: NextFunction` is nullable, but `body-parser` types expect it to always be present `export type NextHandleFunction = (req: IncomingMessage, res: http.ServerResponse, next: NextFunction) => void;`.

[2021-03-08 13:59] talentlessguy commented on #25
@iamricard Cannot reproduce this, `body-parser` here even with installed types works:

https://github.com/talentlessguy/tinyhttp/commit/e8bc0942ceb70def1fa516dd349c6a2766d63bed

[2021-03-29 01:48] thebearingedge commented on #147
@talentlessguy Hi, I'd like to give this a shot. Should this be written in JavaScript or is TypeScript ok?

[2021-03-29 16:23] zkldi opened #242 "SubApps/SubRouters do not inherit :params"
**Describe the bug**

Mounting a SubApp onto an App on a given path results in the path being interpreted literally - wildcards are not passed over to the route, and neither are parameters.

**To Reproduce**

Steps to reproduce the behavior:

[code]

[code]

Making a request of `GET /users/123/profile` results in missed - doesn't seem to match params.
Making a request of `GET /users/:userID/profil

[2021-03-29 16:40] talentlessguy commented on #242
do I understand it correctly that you want to have req.params in the middleware that is mounted on subapps?

e.g. this:

[code]

[2021-03-29 16:42] talentlessguy commented on #147
@thebearingedge I think it doesn't matter that much here but I prefer JS so you can show that ESM works with Node and tinyhttp without any custom build step

[2021-03-29 18:21] zkldi commented on #242
Yeah, that's what I want -- this could be an option in the App constructor (like expresses' `mergeParams`).

However, at the moment the bug is that the route is interpreted literally - wildcards not withstanding:

[code]

[2021-03-29 19:09] talentlessguy commented on #242
@zkldi I know why the bug occurs and it happens because for `.use` we do loose matching (that doesn't support params)

the solution would be changing a few lines in `.use` to push it as "route" instead of "mw"

[2021-03-29 19:12] talentlessguy commented on #242
here we could add some kind of a check with `instanceof`: https://github.com/talentlessguy/tinyhttp/blob/5fe8da9247ebd0efa4078ca67f39e7743b0869f4/packages/router/src/index.ts#L121-L146

feel free to submit a bugfix PR @zkldi

[2021-03-29 20:46] zkldi commented on #242
no problem, I'll look into it tomorrow for ya

[2021-03-30 09:02] zkldi commented on #242
Hi, sorry. I can't wrap my head around the code at all to find the fix. Apologies.

[2021-04-01 16:37] thebearingedge commented on #147
Ok, I'm on it. I noticed that you included the `eta` template engine, but the specs from RealWorld are for a REST API. It's cool if we just submit a JSON back end?

[2021-04-01 18:09] talentlessguy commented on #147
@thebearingedge oops my bad

yeah eta is not needed here

[2021-04-03 14:07] talentlessguy commented on #242
@zkldi no worries, will implement the fix myself then

[2021-04-03 15:12] talentlessguy commented on #236
due to tinyhttp being an HTTP framework I don't think there's that much sense in this issue

any way would be preferrable, although there''s no any wrapper around tinyhttp for ws yet

[2021-04-03 15:12] #236 closed

[2021-04-03 20:57] zkldi commented on #242
Appreciate it. Thank you for your work!

[2021-04-08 09:59] sonnyp opened #243 "Implicit HEAD support"
I'm not entirely sure if it's a bug or a feature request.

**Describe the bug**

`GET` routes do not have implicit support for `HEAD` requests.

Most (all?) http frameworks out there have implicit `HEAD` requests for `GET` routes, they will simply ignore the response body.
Also, `app.head` is not documented which makes it difficult to workaround.

My opinion is that if a `GET` route doesn't have a

[2021-04-08 11:46] talentlessguy commented on #243
you should use `res.send` for it to work properly

`res.end` is a built-in method that doesn't do anything, that's why 404 is returned

[2021-04-08 12:24] sonnyp commented on #243
It's the same problem with `res.send`

[code]

Of course Node.js `res.end` does something https://nodejs.org/api/http.html#http_response_end_data_encoding_callback

[2021-04-08 12:30] sonnyp commented on #243
looks like `res.send` does support `HEAD` https://github.com/talentlessguy/tinyhttp/blob/master/packages/send/src/send.ts#L56

However a `app.get` route is simply not registered for HEAD. The handler isn't even called.

[2021-04-08 12:50] talentlessguy commented on #243
@sonnyp hmm probably I need to add a check for `req.method` in `app.handle`

[2021-04-08 13:09] talentlessguy commented on #243
I need to think how to edit `find` func in a way that I don't have to query the mw twice...

[2021-04-08 13:31] #243 closed

[2021-04-08 20:26] #242 closed

[2021-04-08 20:30] talentlessguy commented on #242
I'm happy to announce that the bug has been fixed!

@zkldi here are passing tests for proving that:

https://github.com/talentlessguy/tinyhttp/blob/da3cdf336753b2bdf9a9cece654bcffe56c71652/__tests__/core/app.test.ts#L773-L800

currently running the build process, patch update coming soon

[2021-04-08 20:32] talentlessguy commented on #242
fix is available in the `1.2.23` version

[2021-04-14 14:47] waghanza opened #246 "Participating to a benchmark"
Hi,

I lead a project (https://github.com/the-benchmarker/web-frameworks) that aims to be a simple benchmark between various of frameworks.

Do you which to participate ?

Regards,

[2021-04-21 20:46] talentlessguy commented on #246
hi

i wouldn't mind my framework to be there

should i assign u to this issue so u add tinyhttp?

[2021-04-22 06:06] waghanza commented on #246
will do ❤️ and ping you to review

[2021-04-25 11:52] talentlessguy commented on #246
Closing since it's merged

[2021-04-25 11:52] #246 closed

[2021-04-25 11:53] talentlessguy commented on #147
@thebearingedge ping

how is it going with the realworld app?

(not hurrying ya or anything, jsut checking if everything is alright and you're not stuck bc of tinyhttp bugs)

[2021-04-25 15:01] thebearingedge commented on #147
Hey! Yeah, it's going ok. I'm not going to lie, the initial ramp up on a 100% new set of tech was pretty rough in the beginning 😅 . I haven't used an ORM in about 5 years.

But I think I have some time today to get a couple more routes done.

[Here is where the project](https://github.com/thebearingedge/node-tinyhttp-realworld-example-app) is right now. The code will need to get rearranged quite a

[2021-04-25 16:14] talentlessguy commented on #147
@thebearingedge nice! great to see that everything is going well

[2021-04-30 00:10] tzvipm opened #247 "Add comparison with fastify and document tradeoffs"
**Is your feature request related to a problem? Please describe.**
What problem does it solve?

It seems unfair to boast 2x improvement over express and compare with polka, but not fastify whose benchmarks show >3x improvement over express.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

1. Add a comparison with fastify to COMPARISSON.md
2. Docume

[2021-04-30 04:45] talentlessguy commented on #247
see: https://github.com/talentlessguy/tinyhttp#benchmarks

the reason why Fastify isn't mentioned anywhere is because it's API differs from Express.

tinyhttp is Express-like framework. that's why I compare to Polka and Express

[2021-04-30 04:45] #247 closed

[2021-05-01 10:21] talentlessguy commented on #235
WIP on https://github.com/talentlessguy/tinyhttp/tree/esm

[2021-05-01 16:25] acrodrig commented on #8
If you ever change your mind, it would be nice to have a vanilla static middleware as part of the server. Reasons:

1. It provides parity with other frameworks that have this basic functionality out of the box
2. It is a pain to be researching/fetching/updating/type-ing additional packages around

I have `npm`-fatigue as it is :)

[2021-05-01 16:26] talentlessguy commented on #8
@acrodrig this won't be revisited as `sirv` and `serve-handler` both do the job better

[2021-05-04 10:41] talentlessguy commented on #238
the issue got fixed (thanks to @wasd845)

today I will release a minor patch with the fix

[2021-05-05 10:26] talentlessguy commented on #238
closed via b49b999f11b6de775dcd807f1702a461616576c5

the fix landed in tinyhttp v1.3.3! :tada:

[code]

[2021-05-05 10:26] #238 closed

[2021-05-06 07:57] ac5tin commented on #147
Hi, can you also produce a Typescript version please?

[2021-05-10 18:35] talentlessguy commented on #236
@RikuVan I just have published a library [tinyws](https://github.com/talentlessguy/tinyws)

u can use it like this:

[code]

[2021-05-13 20:47] talentlessguy commented on #52
the decision is to migrate to `uvu + ts-node + c8`

anyone feel free to submit PRs

[2021-05-22 18:51] talentlessguy commented on #163
I took the decision to delete `@tinyhttp/session`

the current implementation is buggy as hell and is too huge to maintain with all other modules

better use `next-session`. it works with tinyhttp pretty well: https://github.com/hoangvvo/next-session

[2021-05-22 18:51] #163 closed

[2021-05-27 13:43] talentlessguy commented on #147
@thebearingedge hi, I have a little question about the status of the repo

I'm planning to release V2 in the near future (1-3 months) and have a question

will the real-world application be ready by that time? it's completely fine if it won't, don't worry about that. I'm just asking in case I could include that in the release notes of V2. otherwise, it'll be left for next release

[2021-05-28 08:34] harshmandan opened #253 "Can I auto-generate the API documentation?"
There's a feature in Fastify, which lets you use swagger to auto-generate the documentation.
Can I do the same in tiny-http as well?

[2021-05-28 08:40] talentlessguy commented on #253
tinyhttp is similar to express

so (almost) anything for express will work for tinyhttp

https://github.com/scottie1984/swagger-ui-express

[2021-05-28 08:41] harshmandan commented on #253
thanks for the quick reply!
Okay, I'll try integrating this once.

[2021-05-28 09:45] talentlessguy commented on #253
I've also tried with [openapi-validator-middleware](https://github.com/PayU/openapi-validator-middleware), probably should work with it as well

[2021-05-28 09:45] #253 closed

[2021-05-28 22:04] thebearingedge commented on #147
@talentlessguy Yeah, I have some PTO coming up in a few weeks 👍

[2021-06-02 08:57] aldy505 commented on #147
@thebearingedge hello, do you need help?

[2021-06-03 04:02] thebearingedge commented on #147
@aldy505 that would be fantastic! 👍

I probably won't have time to dedicate to the project until about two weeks.

[2021-06-03 05:51] n1ru4l opened #256 "cors module does not seem to function"
**Describe the bug**

I tried migrating from an express setup to tinyhttp. Tried replacing `cors` with `@tinyhttp/cors` as a drop-in replacement. The CORS check fails and no request can be made.

**To Reproduce**

Steps to reproduce the behavior:

1. clone https://github.com/n1ru4l/graphql-bleeding-edge-playground
2. run `yarn add -E @tinyhttp/cors`
3. In `server/main.ts`: replace `cors` import wi

[2021-06-03 14:46] talentlessguy commented on #256
![image](https://user-images.githubusercontent.com/35937217/120664373-8d9c4f00-c493-11eb-8ec5-fca10c3cfa8d.png)

it seems to be working?

[2021-06-03 14:51] talentlessguy commented on #256
looks like the bug is this:

[code]

[2021-06-03 14:53] talentlessguy commented on #256
@n1ru4l would you like to submit default parameter for `@tinyhttp/cors` for `Content-Type` in allowed headers?

https://github.com/talentlessguy/tinyhttp/blob/afd0a11d38e9b6741b6d1f3d25e5f12538e44876/packages/cors/src/index.ts#L22

otherwise, the fix is this:

[code]

[2021-06-04 02:23] aldy505 commented on #147
@thebearingedge I'll open an issue on your repo about which part will I be working.

[2021-06-04 11:07] #256 closed

[2021-06-04 11:21] talentlessguy commented on #256
i think it's now available in `@tinyhttp/cors@1.3.2`, pls check @n1ru4l

[2021-06-06 12:36] talentlessguy opened #259 "TypeError: Cannot convert undefined or null to object for projects without dev dependencies in CLI"
**Describe the bug**

When a project doesn't have `devDependencies` field, it crashes like this:

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Versions**

* `node`: 16.2
* `@tinyhttp/app`: 1.3

**Additional context**

In order to fix we need to add `|| {}` inside of `Object.keys(...)`

[2021-06-06 16:51] RhnSharma commented on #259
I would like to take this one.

[2021-06-06 18:15] #259 closed

[2021-06-06 18:19] talentlessguy commented on #259
fixed in `@tinyhttp/cli@1.3.1`

[2021-06-08 09:19] fthebaud opened #262 "UnhandledPromiseRejectionWarning when creating a new project."
*UnhandledPromiseRejectionWarning* when creating a new project.

[code]

**Steps to reproduce the behavior:**
`pnpm i -g @tinyhttp/cli`
`tinyhttp new basic my-app`

**Versions**
`@tinyhttp/cli 1.3.1`
`node v14.15.1`

[2021-06-08 12:40] talentlessguy commented on #262
this was already fixed in https://github.com/talentlessguy/tinyhttp/issues/259 and sorry that i forgot to release a new version (more like forgot to run build command) :(

try now with `1.3.2` please

[2021-06-08 12:40] #262 closed

[2021-06-08 12:44] fthebaud commented on #262
@talentlessguy, it's working in 1.3.2.
Thank you!

[2021-06-09 09:38] fthebaud opened #263 "CLI enhancement: use folder as project name in package.json instead of "basic""
When creating a new project using the basic template:
[code]

This generates a package.json with the name "basic":
[code]

Wouldn't it be better to use the folder name instead ?
[code]

[2021-06-09 09:41] talentlessguy commented on #263
feel free to PR this enhancement

it's quite easy to do

[2021-06-12 03:50] paolotiu commented on #263
Hello! I successfully implemented this in my local fork, but I'm having trouble writing the test for it.

[2021-06-12 12:20] talentlessguy commented on #263
closed via #264

[2021-06-12 12:20] #263 closed

[2021-06-12 12:22] talentlessguy commented on #263
released in 1.3.3

[2021-06-19 14:13] tbhmens opened #270 "ETag caching not working"
**Describe the bug**

**With cache enabled in the browser:**
![with browser-side cache enabled](https://user-images.githubusercontent.com/57283066/122643977-fd0c7280-d112-11eb-864b-3b411c01f27b.png)
**Without cache enabled in the browser:**
![without browser-side cache enabled](https://user-images.githubusercontent.com/57283066/122644040-5d031900-d113-11eb-881e-10c2a8594aee.png)
Both send a 200 an

[2021-06-19 15:00] talentlessguy commented on #270
thanks for finding this bug! I actually forgot to put a freshness check in res.send... sorry

will be fixed in a moment

[2021-06-19 15:33] talentlessguy commented on #270
should be fixed in tinyhttp@1.3.9, please check

[2021-06-19 21:08] tbhmens commented on #270
![image](https://user-images.githubusercontent.com/57283066/122655526-39f85980-d153-11eb-91db-4b98f50cbeff.png)
It now sends 304 even without a If-None-Match, though the first time I sent the request it did send a 200.

[2021-06-19 21:50] tbhmens commented on #270
Found the problem! on line 49 req.fresh is a function and not a boolean, and functions are truthy.
https://github.com/tinyhttp/tinyhttp/blob/65a618524a51961f2e2555909c8fddfe4793e57e/packages/send/src/send.ts#L49

[2021-06-19 21:52] talentlessguy commented on #270
damn it I'm sorry for my idiocy, tomorrow I'll fix that

[2021-06-20 11:10] talentlessguy commented on #270
@tbhmens could you help on this one please?

here I set the property but now in tests it simply doesn't set 304 even if header is matched: https://github.com/tinyhttp/tinyhttp/blob/bbaddcaadddc009a49715d49f4939d0c3ade7d4f/packages/app/src/extend.ts#L96

the tests fail:

https://github.com/tinyhttp/tinyhttp/blob/bbaddcaadddc009a49715d49f4939d0c3ade7d4f/tests/core/app.test.ts#L918-L930

https://gith

[2021-06-20 11:27] tbhmens commented on #270
commented on your commit, i think it doesnt work since in extend.ts the result etag header isnt set yet, so it's checking the req etag to an undefined. since the result etag _can_ only be set in send, i think send will just have to call fresh as a function instead

[2021-06-20 11:39] talentlessguy commented on #270
@tbhmens thanks for looking into the problem, the thing is that in Express `fresh` is a property... so I can't make it a function. Do you know any better solution than converting it to a function?

[2021-06-20 11:59] tbhmens commented on #270
Possibly, when setting the etag header, also updating the fresh value using getFreshOrStale? A sort of hook into the setHeader function that checks if the ETag header is getting set, and if so, updating fresh

[2021-06-20 12:02] tbhmens commented on #270
Alternatively, use https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get

[2021-06-21 20:39] talentlessguy commented on #270
@tbhmens could you please pull request this? :P

[2021-06-21 21:26] tbhmens commented on #270
Sure! #272 👍

[2021-06-22 05:18] manaskumar-syon opened #273 "need a file routing feature like express."
**Is your feature request related to a problem? Please describe.**
What problem does it solve?

need a file routing feature like express.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
app.use('/',path of the file);

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consider

[2021-06-22 07:08] talentlessguy commented on #273
ummm you didn't add any references or links to file routing in express. I've never heard of that. please elaborate

[2021-06-22 08:58] manaskumar-syon commented on #273
// Bring in our dependencies const app =require('express')(); const routes =require('./routes'); // Connect all our routes to our application app.use('/', routes); // Turn on that server! app.listen(3

[2021-06-22 09:07] talentlessguy commented on #273
@manaskumar-syon you can already do that:

[code]

[2021-06-22 09:07] #273 closed

[2021-06-22 09:14] #270 closed

[2021-06-22 09:23] manaskumar-syon commented on #273
it is showing module not found after import

import { App } from '@tinyhttp/app';
import { route } from './routes/route';

let app = new App();

app.use('/api',route);

app.listen(3000,() =>{
    console.log("server started at "+3000)
})

import { Router  } from '@tinyhttp/router';
const router = new Router();

router.get('/', (req, res) => res.send('Hello World'));

module.exports = router;

how

[2021-06-22 09:29] talentlessguy commented on #273
@manaskumar-syon this is not a tinyhttp issue

you're misusing module paths for Node.js. they need explicit extensions. I'd recommend to read [this](https://nodejs.org/api/esm.html) to understand ESM in Node.js better.

also btw, `Router` class doesn't have req / res methods so it won't work. Use subapps instead (such as `app.use(new App())`

[2021-06-22 09:30] talentlessguy commented on #270
@tbhmens published in `1.3.10`, please check

also, sorry for noise with IssueHunt, the bot bugged cuz it wasn't installed in an org

[2021-06-22 09:58] manaskumar-syon commented on #273
now it is showing reference h is not defined, can you please edit the above coading and guide me for the proper way to do it.

[2021-06-22 10:14] manaskumar-syon commented on #273
//index.js

import { App } from '@tinyhttp/app';
import { router } from './routes/route.mjs';

let app = new App();

app.use(router)

app.listen(3000,() =>{
    console.log("server started at "+3000)
})

//route.mjs
import { Router  } from '@tinyhttp/router';
const router = new Router();

router.get('/', (req, res) => res.send({msg: 'Hello World'}));

export {router};

this is my current code

[2021-06-22 10:41] talentlessguy commented on #273
as I said, `@tinyhttp/router` doesn't contain req / res. it's just a an interface about arrays to be honest. it's not meant to be used directly. Please use `App` instead

[2021-06-22 10:45] talentlessguy commented on #273
I recommend checking https://github.com/tinyhttp/tinyhttp/tree/master/examples/subapps

[2021-06-22 11:26] manaskumar-syon commented on #273
thanks, it is working now.

[2021-06-23 20:10] weedz opened #278 "Some router paths don't work if router is mounted after defining routes"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/talentlessguy/tinyhttp/issues/278)

**Describe the bug**

Can not find the correct route when using sub-apps.

**To Reproduce**

Steps to reproduce the behavior:

The following code does not work as intended:
[code]
I can't request `/router/find` but `/router/list` works

[2021-06-24 19:57] talentlessguy opened #279 "Multiple sub-apps mounted on the same route result in Not Found for further subapps"
**Describe the bug**

When you mount two apps on the same route only the first one works and the other doesn't get reached.

**To Reproduce**

[code]

[code]

**Expected behavior**

if not found it should go to the next app.

**Versions**

* `node`: 16.3
* `@tinyhttp/app`: 1.3.11

**Additional context**

#276

[2021-06-25 12:59] weedz commented on #278
This might not be the correct way to solve this (and might possibly break other things?) but in the `App.use` function, if we map over all the middlewares instead of only the first one it seems to work.
[code]

[2021-06-25 13:03] talentlessguy commented on #278
@weedz could you please fork it and check on some unit tests for router?

[2021-06-25 13:18] weedz commented on #278
Sure

[2021-06-25 13:53] weedz commented on #278
Does not seem to work. Fails at

Returns "Not Found" for /abc/route2 and /abc/route3

[2021-06-26 22:08] satoshi0x opened #280 "Chrome Web Extension gone?"
delete this wrong repo

[2021-06-26 22:24] #280 closed

[2021-07-03 15:22] lucascebertin commented on #279
Is that issue related to this piece of code and the `apps: Record<string, App>`?
[code]

[2021-07-07 16:46] fabiospampinato opened #285 "Support port numbers as strings (maybe?)"
**Is your feature request related to a problem? Please describe.**

I'd like to write the cleanest code possible, and I think it's pretty common to want to write something like this:

[code]

The thing is that process.env.* variables are always strings, so I need to wrap that in `Number`:

[code]

**Describe the solution you'd like**

Maybe `app.listen` should accept a string for a port too just f

[2021-07-07 16:52] fabiospampinato commented on #285
It seems that a port as a string works just the same, in some sense the types are kind of wrong then 🤔 I think it'd like to see this minor thing changed.

[2021-07-07 17:09] fabiospampinato opened #286 "Throwing a single optional parameters that the user didn't pass is used"
**Describe the bug**

I have a route that looks like this:

[code]

And the library throws if the optional parameter is not provided.

Stack trace:

[code]

Problematic line in question:

[code]

Basically it seems to me like the library assumes that the value of the parameter is always a string, while in fact it seems like `req.getURLParams` can initialize parameters to `undefined` too.

**Expect

[2021-07-07 17:18] fabiospampinato opened #287 "Misleading "applyExtensions" description in the docs"
**Describe the bug**

If I do the following the app just hangs:

[code]

If I do the following routes are being called (so it seems that I need to call `next`, the docs say otherwise):

[code]

But then I'm getting this error:

[code]

So all custom extensions got disabled it seems?

I've no idea how I am supposed to actually extend these objects now, extending something shouldn't disable anything

[2021-07-07 17:21] fabiospampinato commented on #286
Using something like this seems to fix that:

[code]

Although I don't know, it seems like the types of `getURLParams` are wrong then? Also that looks like an expensive way to get the first parameter, it should be written in a more performant way.

[2021-07-07 17:26] fabiospampinato opened #288 "Ensure there are defaults noMatchHandler and onError functions"
**Describe the bug**

It seems that if an error is thrown inside a route handler the app just hangs, so it seems there's at least no default `onError` handler. IMO a default one should be provided.

**To Reproduce**

Just throw inside a route.

**Expected behavior**

Default handlers provided.

**Versions**

- `node`: 12.12.0
- `@tinyhttp/app`: latest

[2021-07-07 17:29] fabiospampinato opened #289 "Req.params could be undefined according to the types"
**Describe the bug**

The types for `req.params` are wrong, they say it could be undefined, while the docs say worst case scenario it's an empty object.

[2021-07-07 17:41] talentlessguy commented on #287
actually it's not a bug... the docs are wrong...

`applyExtensions` doesn't extend current handlers, it initializes them. Sorry for confusion, will fix that right now

[2021-07-07 17:49] talentlessguy commented on #287
fixed with https://github.com/tinyhttp/website/commit/10de809bf6f7ef7e0beb5340072e5534a50d2013

in short, do this instead:

[code]

[2021-07-07 17:49] #287 closed

[2021-07-07 17:51] talentlessguy commented on #289
Please provide a reproduction

[2021-07-07 17:54] talentlessguy commented on #288
not sure what you're talking about

it sets defaults here:

https://github.com/tinyhttp/tinyhttp/blob/08cff9e507ad8f4496a1181ea5e2b9d4baf50993/packages/app/src/app.ts#L106-L107

there's even a test for `throw`ing inside routes:

https://github.com/tinyhttp/tinyhttp/blob/08cff9e507ad8f4496a1181ea5e2b9d4baf50993/tests/core/app.test.ts#L216-L226

[2021-07-07 17:55] talentlessguy commented on #286
confirmed, bug is here: https://github.com/tinyhttp/tinyhttp/blob/08cff9e507ad8f4496a1181ea5e2b9d4baf50993/packages/app/src/app.ts#L315

[2021-07-07 18:36] talentlessguy commented on #286
should be fixed in `1.3.12`

please check and say if you have any issues

[2021-07-07 18:36] #286 closed

[2021-07-07 18:37] talentlessguy commented on #285
imo it's not quite safe to allow ports to be passed as strings because someone can do this:

[code]

which is not good

proper way to load port from env is to do this: `app.listen(parseInt(process.env.PORT, 10))`

[2021-07-07 18:37] #285 closed

[2021-07-07 18:41] #289 closed

[2021-07-07 23:59] fabiospampinato commented on #285
That's too noisy IMO, I think it's ok to throw if the thing passed to it once piped to parseInt doesn't returning a number > 0.

But I'm ok with this being a number too, the resulting code is just a bit less clean.

[2021-07-08 00:02] fabiospampinato commented on #288
I'll try to make a repro tomorrow. I've just experienced a route handler throwing and the browser just waiting endlessly for the response 🤷

[2021-07-08 00:17] fabiospampinato commented on #286
I can confirm it's fixed, thanks for fixing this so quickly!

[2021-07-08 01:04] fabiospampinato opened #290 "req.path computed improperly"
**Describe the bug**

For a route like this:

[code]

Queried like this:

[code]

I'm getting the following path inside the route handler:

[code]

Which isn't correct, it should instead be:

[code]

[2021-07-08 01:10] fabiospampinato commented on #288
I can't reproduce it anymore. If I'll happen to see that again I'll make sure to make a repro.

[2021-07-08 01:10] #288 closed

[2021-07-08 03:00] fabiospampinato opened #291 "Default onError handler exposes internals on production"
The default onError handler just outputs the error stack on production too, which IMO is a security concern, I think it would be much better if when `process.env.NODE_ENV === 'production'` it just returned a generic 500 error.

https://github.com/tinyhttp/tinyhttp/blob/08cff9e507ad8f4496a1181ea5e2b9d4baf50993/packages/app/src/onError.ts#L8-L16

[2021-07-08 06:11] talentlessguy commented on #291
erm, it doesn't output any error stack in the response, it only sends a respond message

I cannot "just return a generic 500 error" for multiple reasons

- it will break no match handler
- it will break all `next` calls where you pass an error with custom code

and so on

this is not a bug at all and is intended design

500 is already a default error code

[2021-07-08 06:11] #291 closed

[2021-07-08 06:13] talentlessguy commented on #290
probably that line to support subapps mounting on routes breaks the rest of routes ... I need to come up with a better solution

[2021-07-08 11:09] fabiospampinato commented on #291
Right, I misspoke, sorry. Still sending the raw error message on production is an issue IMO.

I don't see why noMatchHandler should be dependent on onError to being with though.

🤔 One shouldn't be using errors to output custom body content to begin with, there are other, explicit, APIs for doing that. If an error happens on production you only want people seeing "Internal Server Error" at best.

[2021-07-08 11:28] talentlessguy commented on #291
@fabiospampinato

I don't understand the "raw" part. Error message is like a heading of the error, it's not the full message so there's no way to leak anything

because it's the simplest way to send 404 by default. 404 is an "error" somewhat, because it's an unsuccessful request.

but that's not true, Express does that even in their own response extensions, see:

https://github.com/expressjs/expre

[2021-07-08 17:24] fabiospampinato commented on #291
Not leaking ~anything means that either the same message is always returned or noise is always returned, returning actual error messages (forget about the "raw" part) is leaky.

Hypothetical obvious example: say I'm using really-stupid-mysql-client, if that library throws an error with the following message I'm screwed: "[really-stupid-mysql-client]: Server connection failed, are you sure the foll

[2021-07-08 19:13] talentlessguy commented on #291
maybe. tinyhttp tries to replicate Express so I won't change that.

and you should wrap all the errors properly, it's a responsibility of a developer, not the library's

[2021-07-08 19:26] fabiospampinato commented on #291
That's kind of a silly argument if you think about it, every single function call into a dependency may throw as far as the developer knows, wrapping everything in try..catch blocks would be painful, and potentially you only need to mess up once to be screwed anyway. Making it impossible for such issues to arise is the obvious right solution. Authors of libraries like yours should take some respon

[2021-07-08 20:47] talentlessguy commented on #291
@fabiospampinato to prove my point, Koa and Polka do absolutely the same with errors and no one shames them for that

it's a standard practice to put Error in `next`

and usually handlers aren't that big and use helper functions, where yes you should check for every function to be handled

"wrapping in try catch blocks would be painful"

idk what to say, everyone did that since the beginning of ti

[2021-07-08 21:53] fabiospampinato commented on #291
I'm not interested in convincing you of this, but if somebody is making a mistake pointing at other famous people that make the same mistake changes nothing, it's still a mistake.

As I said I think having untrustworthy dependencies is a problem -> I moved from express to tinyhttp mainly because with that I'm relying on way less code (and from fewer people it seems) -> now that I'm learning about

[2021-07-09 06:19] talentlessguy commented on #291
good that it got settled down

thank you

[2021-07-09 13:08] #290 closed

[2021-07-09 13:11] talentlessguy commented on #279
@lucascebertin I am not sure but yeah either here in `App.use` or in `Router.use`

[2021-07-12 16:43] #278 closed

[2021-07-13 08:46] e965 opened #294 "`res.sendFile` method forcibly overwrites the HTTP status code with 200"
**To Reproduce**

[code]

**Versions**

- `node`: 16.4.1
- `@tinyhttp/app`: 1.3.14

**Additional context**

Не хочу, чтобы мой корявый английский испортил контекст, поэтому напишу здесь на русском (прошу прощения у автора заранее): я в своём приложении собираюсь сделать страницу по умолчанию для всех не прописанных заранее путей (страница 404, короче). Если просто делаю `res.status(404).end()`, то

[2021-07-17 03:15] sachaw opened #296 "Replace range-parser"
The primary issue with this package is how it throws a TS1259 error how it's currently used.
I suggest deprecating it, as it appears to be unmaintained and has no inbuilt type definitions.
Using packages like this seems to go against the "0-legacy" aim of this package.

[2021-07-17 05:43] talentlessguy commented on #296
do you know any good alternative to it?

also how does it throw an error? it's an internal dependency and shouldn't impact the end developer in any way in theory... maybe you have misconfigured typescript

[2021-07-17 05:59] sachaw commented on #296
I have Typescript in strict mode, several of my dependencies require it, this is causing the error to be thrown.
As for alternatives, not aware of any sorry.

[2021-07-17 06:05] talentlessguy commented on #296
@sachaw thanks for quick response, I'll try it out myself with a strict mode

the dumbest solution would be depending on @types/, otherwise idk

[2021-07-17 06:29] sachaw commented on #296
omitting @types/range-parser throws a typedef not found like error, depending on it emits the aforementioned TS1259

[2021-07-18 09:03] #294 closed

[2021-07-18 09:08] talentlessguy commented on #294
should be fixed in `@tinyhttp/app@1.3.15`

[2021-07-29 21:56] gabrielcursino opened #297 "Unhandled async errors"
**Describe the bug**

Errors inside async functions are not handled by `onError`.

**To Reproduce**

[code]

Returns me on console: `Catch Test`

[code]

Returns me on console: `(node:11384) UnhandledPromiseRejectionWarning: Test
(Use `node --trace-warnings ...` to show where the warning was created)
(node:11384) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated

[2021-07-29 23:19] talentlessguy commented on #297
Can't reproduce, works fine for me

![image](https://user-images.githubusercontent.com/35937217/127577457-3b1d07d6-631e-4691-acd4-a7f17784bbe5.png)

[2021-07-30 02:08] gabrielcursino commented on #297
Sorry! I am using Typescript, and it was just a problem with output target.

Its working fine now!

[2021-07-30 02:15] gabrielcursino commented on #297
Is there any way to subapps extend parent app options or parent app handle subapps errors?

Now, i am exporting parent options:

[code]

And importing it to use in subapps:

[code]

Is there a better way to do this or some way of parent app handle subapps errors?

[2021-07-30 07:07] talentlessguy commented on #297
@gabrielcursino open a separate issue for that

[2021-07-30 07:08] #297 closed

[2021-07-30 11:38] pajasevi opened #298 "Breaking change in @tinyhttp/app@1.3.14 w/ sirv middleware"
**Describe the bug**

@tinyhttp/app has introduced an unknown bug in version 1.3.14 which breaks the app.

Bug presents itself when trying to access static files which are server via `sirv` middleware.

[code]

Request fails and error passed to the general error handler consists only of `{ code: 404 }`.

This bug does not appear in any previous version of @tinyhttp/app or in any version of `sirv`

[2021-07-30 12:42] talentlessguy commented on #298
does the bug occur in 1.3.13 and 1.3.15 versions?

[2021-07-30 14:33] pajasevi commented on #298
@talentlessguy it DOES NOT occur in 1.3.13 and it OCCURS in 1.3.15

[2021-07-30 14:35] talentlessguy commented on #298
@pajasevi ok so the bug starts to exist since 1.3.14

interesting

[2021-07-30 14:36] pajasevi commented on #298
Yes, I have found this bug while upgrading from 1.3.3 to 1.3.15 and was able to pinpoint that it is a 1.3.14 version that breaks it.

[2021-07-30 16:04] gabrielcursino opened #299 "Handle subapps errors on parent app"
**Is your feature request related to a problem? Please describe.**
If an error occurs on subapp parent app `orError` is not called

**Describe the solution you'd like**
Handle subapps errors on parent app

**Describe alternatives you've considered**
As workaround i am exporting parent options:

[code]

And importing it to use in subapps:

[code]

Is there a better way to do this or some way of par

[2021-08-02 08:14] aral opened #301 "request.url always returning / in quick start example"
In the quick start example, `request.url` always returns `/`.

## To Reproduce

1. Run the quick start example at https://tinyhttp.v1rtl.site/#get_started

## What should happen

URL should read `/page/test`

## What actually happens

URL reads `/` regardless of what URL is in the address bar.

## Versions

- `node`: v14.17.3
- `@tinyhttp/app`: 1.3.15

[2021-08-02 08:16] aral commented on #298
Possibly related to https://github.com/tinyhttp/tinyhttp/issues/301 ?

[2021-08-15 19:12] jeanhdev commented on #147
Hi guys, is the project on still ? I'd like to contribute

[2021-08-15 19:55] talentlessguy commented on #147
@jeanhdev yes it is and if you want you could fork that real world example or start your own from scratch, using the stack mentioned in readme

[2021-08-23 10:54] pajasevi commented on #298
@talentlessguy any info on this?

[2021-08-24 06:56] talentlessguy commented on #298
@pajasevi sorry I haven't looked into it yet

will do soon (I hope)

otherwise, if you do it faster than me, feel free to submit the PR

[2021-08-28 20:18] fabiospampinato opened #307 "Parameters are not url-decoded"
**Describe the bug**

Parameters containing e.g. spaces must be url-encoded to be written in a URL, but when fetching those strings from tinyhttp I'd expect to get the original string back, I wouldn't expect the "%20" and stuff to make it through.

**To Reproduce**

Steps to reproduce the behavior:

1. Run the following:

[code]

2. Query the following:

[code]

3. See the following in the browser

[2021-08-28 20:52] talentlessguy commented on #307
could you please try on Express as well just to confirm?

[2021-08-28 22:01] fabiospampinato commented on #307
Sure, just checked with the following:

[code]

<img width="1280" alt="Screen Shot 2021-08-28 at 23 59 04 (2)" src="https://user-images.githubusercontent.com/1812093/131232092-5cf1615e-ac9c-4701-9d8b-92a7eb876346.png">

[2021-09-02 12:14] CircleCode opened #308 "using path in content-disposition requires polyfill in the browser"
content-disposition makes use of `import { basename } from 'path';`.

Since this is not available in browser, this requires a polyfill.

until webpack4, this polyfill was automatically added by webpack. Starting from webpack5, this is more prevalent since developer has to explicitely add the polyfill.
It would be nice to not rely on node specific apis, and to use only native browser features.

[2021-09-02 12:51] talentlessguy commented on #308
tinyhttp isn't mean to be used in a browser :thinking:

[2021-09-02 12:54] CircleCode commented on #308
thanks for the quick answer.
I was using your content-disposition since it is one of the more feature rich and light implementation.

Since you do not target the browser, feel free to close this issue; sorry for the noise :-)

[2021-09-02 12:55] talentlessguy commented on #308
@CircleCode I don't know which stack you have but if you use Deno, you can import via `esm.sh/content-disposition` and it gets polyfilled automatically

[2021-09-02 12:57] CircleCode commented on #308
I'm using webpack, and it is also possible to polyfill it.
But before polyfilling, I always look for a way to not requiring a polyfill :)

[2021-09-02 14:16] talentlessguy commented on #308
if you're down, feel free to send a PR to use web APIs instead if Node built-ins

I'll most likely merge it if it passes tests and Node works with 12.4+

[2021-09-03 21:54] PabloSzx opened #311 "Not compatible with Node.js v12 because optional chaining in published code"
**Describe the bug**

Code in published library v2.0.0 is not compatible with Node v12 because it's not converting the optional chaining for it to be compatible with Node v12

![Screenshot from 2021-09-03 17-50-48](https://user-images.githubusercontent.com/8672915/132068485-da90a4c1-1a17-409a-8459-0161754b7f32.png)

**Expected behavior**

tinyhttp to actually support Node.js v12 as the announcemen

[2021-09-03 21:59] talentlessguy commented on #311
what's the minor and patch version of node you use? is it higher than 12.4?

[2021-09-03 21:59] PabloSzx commented on #311
12.22.6 the latest v12, you can see in the screenshot the optional chaining

[2021-09-03 22:00] talentlessguy commented on #311
weird, TS should transpile this

not sure why it's included in the dist

I probably messed up somewhere in configs

will take a look tomorrow

[2021-09-07 09:28] #311 closed

[2021-09-07 09:38] #308 closed

[2021-09-07 09:40] CircleCode commented on #308
@talentlessguy Thanks for the fix (moreover since it is out of scope of your lib)

[2021-09-07 09:45] #307 closed

[2021-09-07 09:50] #235 closed

[2021-09-07 15:00] PabloSzx commented on #311
@talentlessguy pretty sure this is not normal
![image](https://user-images.githubusercontent.com/8672915/132367045-ec21d097-4848-44b6-b286-f16788edfa12.png)

![image](https://user-images.githubusercontent.com/8672915/132367073-1bedb54a-ad8c-4944-a7f2-dacc0102d24a.png)

[2021-09-07 19:28] fabiospampinato commented on #307
Thanks <3

[2021-09-08 09:17] CircleCode opened #312 "missing main field in package.json"
your package seems to fail resolution with eslint because it lacks a main field in package.json.

For example, on `@tinyhttp/content-disposition`, `package.json` should include `"main": "./dist/index.js",`

without the `main` field, _normal imports_ do not work:

[code]
but the following works:
[code]

[2021-09-08 09:37] CircleCode commented on #312
see import-js/eslint-plugin-import#2132 for eslint point of view:

[2021-09-08 09:39] talentlessguy commented on #312
"main" field is for CommonJS

tinyhttp is ESM-only and uses "exports" instead.

so not planning on returning "main" back, it's an `eslint-plugin-import` issue not tinyhttp's, sorry :c

[2021-09-08 09:39] #312 closed

[2021-09-08 09:45] CircleCode commented on #312
for future reference (I adhere to your point of view), there are issues on `eslint-plugin-import` to support `exports`:

- import-js/eslint-plugin-import#1810
- import-js/eslint-plugin-import#1868

[2021-09-10 08:42] talentlessguy commented on #298
@pajasevi  can you try to use absolute path? like `path.resolve(process.cwd(), 'static')`

[2021-09-10 08:55] #298 closed

[2021-09-10 08:58] aldy505 commented on #298
this is a working codesandbox: https://codesandbox.io/s/bold-torvalds-9k4ui?file=/src/index.js

if you still got a problem, let us know

[2021-09-10 09:02] talentlessguy commented on #191
if anyone wants to work on that, I'll create a new repo for NestJS

[2021-09-12 06:29] KaviiSuri commented on #191
Hey, I'd love to give it a shot, but I'm kinda new to open source and was hoping for some guidance on how to do it?

[2021-09-12 06:31] KaviiSuri commented on #279
Hey, I'd love to give this one a shot too... I'm new to open source and tinyhttp and was hoping for some guidance

[2021-09-12 07:01] talentlessguy commented on #191
@KaviiSuri I'll create a new repo in the org and will assign you as a contributor

does this sound good for you?

[2021-09-12 07:03] talentlessguy commented on #279
@KaviiSuri there are setup instructions in CONTRIBUTING.md but for this bug you should be looking into app and router packages

to test your code I'd recommend creating a unit test in `tests/core/app.test.ts` and there write a test case with expected behavior

[2021-09-12 07:13] KaviiSuri commented on #191
Yeah, sounds good!!

Also, I'm new to tinyhttp and beginner with nestjs, so could you give me some resources to get started too?

[2021-09-12 07:21] talentlessguy commented on #191
@KaviiSuri there's tinyhttp documentation website

regarding Nest, it's the same, I mean there is also docs

[2021-09-12 07:23] KaviiSuri commented on #191
Okay, thanks, I'll get to it

[2021-09-12 15:03] tbhmens opened #314 "Subapps not receiving params from parent apps"
**Describe the bug**

A parent app that does ` app.use("/:path", subapp)`  doesn't pass req.params.path to the subapp.

**To Reproduce**

Code to reproduce the behavior:
[code]

**Expected behavior**

`req.params.test` is passed to the subapp

**Versions**

- `node`: 16.3.0
- `@tinyhttp/app`: 2.0.3

[2021-09-12 18:49] talentlessguy commented on #314
wasn't it fixed before ?

https://github.com/tinyhttp/tinyhttp/issues/242

if it appeared again, can you tell please which version still works?

[2021-09-13 06:18] tbhmens commented on #314
I thought so too, but looking at the test for 242, it looks like it didn't test if req.params got anything from the URL.

[2021-09-13 06:20] talentlessguy commented on #314
@tbhmens got you, not cool then

any ideas on a possible fix?

[2021-09-13 07:32] tbhmens commented on #314
I think I've found a solution by replacing
https://github.com/tinyhttp/tinyhttp/blob/master/packages/app/src/app.ts#L321
with `req.params = { ...req.params, ...params }`,
I'll make a PR in a sec 👍

[2021-09-13 11:34] aldy505 opened #316 "Replace `req.connection` with `req.socket`"
Not really a bug or feature request per se, just a deprecation notice. Regarding these:

https://github.com/tinyhttp/tinyhttp/blob/94875e2c334c09143a849f529e028b7a6c22a18e/packages/app/src/request.ts#L16-L28

https://github.com/tinyhttp/tinyhttp/blob/94875e2c334c09143a849f529e028b7a6c22a18e/packages/app/src/request.ts#L33-L34

`req.connection` is deprecated. https://nodejs.org/api/http.html#http_r

[2021-09-17 05:43] KaviiSuri commented on #191
Hey, I'm going through the docs and code samples you refrenced

As of now, it seems like I need to implement the `AbstractHTTPAdapter` interface along with creating a `ITinyHTTPNestApplication` interface that extends `INestApplication`

Is that it? Is there something I've missed?

[2021-09-17 07:59] talentlessguy commented on #191
@KaviiSuri no idea, I haven't ever used Nest :/

[2021-09-17 14:48] #314 closed

[2021-09-19 01:18] Kamrulhasan12345 opened #319 "Shows `Cannot find module '@tinyhttp/app' from 'src/app.js'` error in jest with --experimental-vm-modules"
**Describe the bug**

Recently, while working with tinyhttp, everything works fine, the server also runs fine. But I am facing the issue with jest.
I am running, `cross-env NODE_OPTIONS=--experimental-vm-modules yarn test` to test and finally it shows this:
![image](https://user-images.githubusercontent.com/32530625/133911958-1cf8f9c9-3633-49e1-b0a1-8ba7f3d29625.png)

**To Reproduce**

Steps to re

[2021-09-19 15:08] Kamrulhasan12345 commented on #319
I went thoroughly in this issue. I tried making app.js -> app.mjs and remove type: module from package.json. Then installed esm module from npm, then used cjs imports and exprts everywhere except app.mjs. I imported app.mjs in server.js like this:
`const app = require('esm')(module)('./app.mjs')`. Then i ran `node src/server` and found this:
![image](https://user-images.githubusercontent.com/32530

[2021-09-19 16:16] talentlessguy commented on #319
@Kamrulhasan12345 tinyhttp itself uses `enhanced-resolver` for tests

you could try passing a custom resolver to jest config and see if it works

[2021-09-20 07:54] KaviiSuri commented on #191
Hey man, I'm not home this week, I'll start working the adapter the coming week. Just wanted to keep you in the loop.

[2021-09-20 09:15] Kamrulhasan12345 commented on #319
If I use the same resolver.cjs as tinyhttp has, then I get this error (in my main project):

![image](https://user-images.githubusercontent.com/32530625/133979507-6af758d2-14a5-4772-b09c-e93a1629564b.png)

I thought I must change the config, so I added `mainFields: ["module", "main"]` in resolver.cjs and then I am seeing this:

![image](https://user-images.githubusercontent.com/32530625/133979775-

[2021-09-20 09:15] #319 closed

[2021-09-20 09:24] talentlessguy commented on #319
@Kamrulhasan12345 I haven't ever used firebase so sorry but idk how to help :/

[2021-09-20 09:31] Kamrulhasan12345 commented on #319
ok, no problem

[2021-09-20 09:47] Kamrulhasan12345 commented on #319
I can try uvu (as seen in an issue in tinyhttp), that seems much easier!

[2021-09-21 10:18] liamdon opened #320 "Website down"
Just wanted to let you know in case you weren't aware. Feel free to close this issue if so - I will close it in a few days to avoid clogging the issues.

[2021-09-21 10:19] talentlessguy commented on #320
damn the website got down like 4 times for the last two weeks :\

I need to upgrade my server i guess

[2021-09-21 10:20] talentlessguy commented on #320
should be fine now

[2021-09-21 10:20] #320 closed

[2021-09-23 01:09] creepinson opened #321 "Cookie parser request in typescript?"
**Describe the bug**

How can I use the cookie parser module with typescript? It shows this:
![image](https://user-images.githubusercontent.com/11761863/134441247-dee45ac2-e394-47d4-84b9-1f729f0b08c9.png)

        Property 'cookies' is optional in type 'Request' but required in type 'CookieParserRequest'.ts(2345)

I have also tried using
[code]

**To Reproduce**

Steps to reproduce the behavior:

[2021-09-23 01:14] creepinson commented on #321
I may have found a workaround but it's kind of ugly and annoying to use in every app.

[code]

[2021-09-23 07:59] talentlessguy commented on #321
try passing `CookieParserRequest` as a generic to `App`

although it's a type issue, cookie parser request also should have optional type, will fix asap

[2021-09-23 19:36] talentlessguy commented on #321
@creepinson could you try now please? with latest th and cookie-parser

[2021-09-24 20:24] #321 closed

[2021-09-27 15:52] francelwebdev opened #323 "I get this error when using typescript example."
francel@francel-Inspiron-N5010:~/Images/typescript$ npm start

(node:25298) ExperimentalWarning: --experimental-loader is an experimental feature. This feature could change at any time
(Use `node --trace-warnings ...` to show where the warning was created)
internal/modules/cjs/loader.js:889
  const err = new Error(message);
              ^

Error: Cannot find module 'typescript'
Require stack:
- /

[2021-09-27 15:53] talentlessguy commented on #323
run `pnpm i typescript`

[2021-09-27 15:58] francelwebdev commented on #323
ok, i must use pnpm? can't i use npm or yarn?

[2021-09-27 16:00] francelwebdev commented on #323
I get this error after i use yarn add typescript.

francel@francel-Inspiron-N5010:~/Images/typescript$ npm start

(node:26233) ExperimentalWarning: --experimental-loader is an experimental feature. This feature could change at any time
(Use `node --trace-warnings ...` to show where the warning was created)
/home/francel/Images/typescript/node_modules/ts-node/src/index.ts:692
    return new TSError

[2021-09-27 16:01] talentlessguy commented on #323
looks like it asks you to add "dom" to `compilerOptions.lib`

[2021-09-27 16:12] francelwebdev commented on #323
I now get this error.

francel@francel-Inspiron-N5010:~/Images/typescript$ npm start

(node:29604) ExperimentalWarning: --experimental-loader is an experimental feature. This feature could change at any time
(Use `node --trace-warnings ...` to show where the warning was created)
ReferenceError: exports is not defined in ES module scope
    at file:///home/francel/Images/typescript/index.ts:2:23

[2021-09-27 16:13] francelwebdev commented on #323
this is my package.json file.

{
  "name": "typescript",
  "private": true,
  "type": "module",
  "scripts": {
    "start": "node --experimental-loader ts-node/esm --experimental-specifier-resolution=node index.ts"
  },
  "dependencies": {
    "@tinyhttp/app": "2.0.5",
    "dom": "^0.0.3",
    "typescript": "^4.4.3"
  },
  "devDependencies": {
    "ts-node": "^10.2.1"
  }
}

[2021-09-27 16:14] talentlessguy commented on #323
why did you instll `dom` as a dependency? also node 12.4+ is required

[2021-09-27 16:15] francelwebdev commented on #323
i use latest node lts version.

[2021-10-01 08:53] diivi commented on #316
I tried working on the second one and found this https://nodejs.org/api/tls.html#tls_tlssocket_encrypted but the req.socket here is a normal net.Socket instance so I could'nt figure out how to use the tlsSocket.encrypted function

[2021-10-02 10:29] talentlessguy commented on #323
is the problem still happening?

[2021-10-03 00:25] #296 closed

[2021-10-03 06:24] sachaw opened #326 "2.x not working with typescipt"
**Describe the bug**

Using the latest 2.0 release with typescript, the following error is thrown:
[code]
This is the case for node 16.9.1 and 16.10 relevant info: https://github.com/TypeStrong/ts-node/issues/1007

**To Reproduce**

1. Blank TS TinyHTTP app.
2. add `ts-node`: 16.10: `"ts-node": "github:TypeStrong/ts-node#pull/1457",` older versions: `"ts-node": "^10.2.1",`
3. in `package.json` set

[2021-10-04 15:05] francelwebdev commented on #323
HI, yes i still have the problem, the solution i found is to use version 2.0.0. I cannot use the latest version.

[2021-10-04 15:31] talentlessguy commented on #323
weird, not sure how to help

try each version since v2 to identify where it happens

[2021-10-05 13:47] peschee commented on #326
The dependency `header-range-parser` is used in the `req` package:

https://github.com/tinyhttp/tinyhttp/blob/8643d6685c01520ca063c3f633b20767587818c0/packages/req/src/index.ts#L2

but it is not specified as a `dependency`, but only as a `devDependency`

[2021-10-06 07:47] #323 closed

[2021-10-06 08:01] talentlessguy commented on #326
should be fixed now

[2021-10-06 08:01] #326 closed

[2021-10-08 03:13] MVelez94 commented on #92
I'm interested in contributing tests. I think `wares/favicon` would be small enough and beginner friendly. How do I start?

[2021-10-25 19:20] groenroos opened #330 "Unpredictable output from `getQueryParams`"
**Describe the bug**

If the `url` parameter given to `getQueryParams` does not contain query parameters, the method outputs an object with the full path as a key instead.

**To Reproduce**

[code]

The above code yields:

[code]

**Expected behavior**

I would expect `getQueryParams` to yield an empty object for a `url` string that does not contain any query params.

[code]

**Versions**

- `node

[2021-10-28 02:51] groenroos opened #331 "Omitted optional param value is `"undefined"`"
**Describe the bug**

When an optional route param (i.e. `/foo/:bar?`) is not supplied for a particular request, the `req.params` object will still contain it, with a string value of `"undefined"`.

This would mean that i.e. `if (req.params.bar)` would unexpectedly always be truthy, even when the param was not supplied.

**To Reproduce**

Simple app with optional route param `bar`:

[code]

Visiti

[2021-10-31 07:43] talentlessguy commented on #331
@juank1809 feel free to, instructions are in CONTRIBUTING.md

[2021-11-04 12:32] Khotam commented on #92
hi @talentlessguy, i would like to contribute but have no experience with open source projects. could you give me some easier tasks?

[2021-11-04 12:34] Khotam commented on #331
hi @talentlessguy, can you assign me to this task?

[2021-11-04 12:44] talentlessguy commented on #331
yeah no prob @Khotam

[2021-11-08 07:43] shafa909 commented on #330
Hey, am a new contributer , i would like to completed this task. i completed the steps until 'pnpm build'.
how i can run the file 'tinyhttp/tests/modules/url.test.ts' ?

[2021-11-08 08:28] talentlessguy commented on #330
@shafa909 `pnpx jest 'tinyhttp/tests/modules/url.test.ts'`

[2021-11-08 08:40] shafa909 commented on #330
<img width="1305" alt="Screen Shot 2021-11-08 at 2 09 39 PM" src="https://user-images.githubusercontent.com/23289583/140710193-0adec4b1-9773-4b1b-97a3-63f7697e5a3f.png">
<img width="1305" alt="Screen Shot 2021-11-08 at 2 09 50 PM" src="https://user-images.githubusercontent.com/23289583/140710207-5f77018e-b9c5-44d0-aeab-caf4d364de3f.png">

[2021-11-08 10:20] talentlessguy commented on #330
@shafa909 try running `pnpm i -r && pnpm build -r` and check if your Node.js version is `>=12.4`

[2021-11-11 03:47] shafa909 commented on #330
still showing same error ! :(

[2021-11-23 19:20] SaiKiranMukka commented on #330
Hey @talentlessguy, can you assign this to me and review it?

[2021-11-24 07:38] #330 closed

[2021-11-25 21:36] #331 closed

[2021-12-04 21:57] robbiemu opened #339 "feature req - docs/demo of typescript project"
**Is your feature request related to a problem? Please describe.**
It is pretty easy to get the hello world app running, but if you try unprepared to extend out from there on your own with typescript, it is possible that you will run into ERR_REQUIRE_ESM errors. Searching how to resolve this will produce suggestions like set `"type": "module",` in package.json or `esModuleInterop": true` in tsconf

[2021-12-21 08:23] talentlessguy commented on #339
check this out:

https://github.com/tinyhttp/tinyhttp/tree/master/examples/typescript

[2021-12-21 08:23] #339 closed

[2021-12-27 13:42] SirReiva opened #342 "Cannot find module header-range-parser"
**Describe the bug**

I cant init test example

**To Reproduce**

Steps to reproduce the behavior:

1. init npm with @tinyhttp/app dependecie and npm i
![image](https://user-images.githubusercontent.com/50754871/147473606-274580f1-14ae-426e-94b4-94f3fa4b1293.png)

2. index.js
![image](https://user-images.githubusercontent.com/50754871/147473554-9c337989-e19e-49cd-90d0-c77b81c7a767.png)
3. node ind

[2021-12-27 21:12] kricha commented on #342
have same issue

[2021-12-27 21:31] kricha commented on #342
because of https://github.com/r37r0m0d3l/header-range-parser/issues/66

[2021-12-27 21:33] talentlessguy commented on #342
@kricha which version should we downgrade this dep to?

[2021-12-27 21:35] SirReiva commented on #342
@talentlessguy with  "header-range-parser": "1.1.1" works, Its seems that last header-range-parser version is empty

[2021-12-27 21:35] #342 closed

[2021-12-28 14:37] talentlessguy commented on #342
fixed

[2022-01-06 11:54] r37r0m0d3l commented on #342
Somehow missed your issue. Fixed in new release 👉 https://github.com/r37r0m0d3l/header-range-parser/releases/tag/1.1.3.

[2022-01-06 12:16] talentlessguy commented on #342
@r37r0m0d3l awesome thx, will bump the dep soon

[2022-01-13 18:08] ankon opened #343 "No CommonJS output available"
https://github.com/tinyhttp/tinyhttp/commit/4b010409e6f8272809fad08b8730f4bf333039aa dropped the CommonJS outputs (supposedly for good reasons!), but now the package description for at least `@tinyhttp/content-disposition` is off :)

![image](https://user-images.githubusercontent.com/1210641/149385275-6b905be0-2448-4696-b762-82f1280067c9.png)

[2022-01-13 18:10] talentlessguy commented on #343
could you please PR with readme changes to remove the CJS part?

[2022-01-13 18:19] ankon commented on #343
See #344.

[2022-01-22 19:13] #343 closed

[2022-02-17 01:18] kirb opened #345 "res.redirect() throws Not Acceptable when client doesn’t accept text/html or text/plain"
**Describe the bug**

`res.redirect()` [uses `formatResponse()`](https://github.com/tinyhttp/tinyhttp/blob/ee8382b7b20b145c9ff64c0a9b58a565760854e9/packages/res/src/redirect.ts#L26-L39) to try and return an appropriate response based on the `Accept` header. However, it should be expected that not all requests will be from a browser, and some clients may supply an `Accept` header where no `text/` m

[2022-02-17 09:53] talentlessguy commented on #345
would you like to submit a PR to fix this? (and a little test too)

[2022-02-18 20:19] chainalert-bot opened #347 "ChainAlert: npm package release (2.0.3) has no matching tag in this repo"
Dear [@tinyhttp/cookie-signature](https://npmjs.com/package/@tinyhttp/cookie-signature) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (2.0.3) of [@tinyhttp/cookie-signature](https://npmjs.com/package/@tinyhttp/cookie-signature) was published without a matching tag in this repo**.

As part of our effort

[2022-02-18 20:19] chainalert-bot opened #348 "ChainAlert: npm package release (2.0.13) has no matching tag in this repo"
Dear [@tinyhttp/res](https://npmjs.com/package/@tinyhttp/res) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (2.0.13) of [@tinyhttp/res](https://npmjs.com/package/@tinyhttp/res) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we would

[2022-02-18 20:19] chainalert-bot opened #349 "ChainAlert: npm package release (2.0.17) has no matching tag in this repo"
Dear [@tinyhttp/app](https://npmjs.com/package/@tinyhttp/app) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (2.0.17) of [@tinyhttp/app](https://npmjs.com/package/@tinyhttp/app) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we would

[2022-02-19 08:49] #349 closed

[2022-02-19 08:49] #347 closed

[2022-02-19 08:49] #348 closed

[2022-03-09 08:24] go4cas opened #350 "Docs Site Down"
The tinyhttp docs site (hosted at https://tinyhttp.v1rtl.site/docs) is currently showing a 502 error (Bad Gateway).

[2022-03-16 20:07] Barnabas opened #351 "Default server host not compatibile with IPv6"
**Describe the bug**

If you create a basic server and don't specify an address to bind to, the server will bind to 0.0.0.0. On an OS with both IPv4 and IPv6, this may mean it will reject requests to `localhost`.

**To Reproduce**

Steps to reproduce the behavior:

1. install and run the [basic example](https://github.com/tinyhttp/tinyhttp/tree/master/examples/basic)
2. open http://localhost:3000

[2022-03-23 19:15] talentlessguy commented on #351
would you like to submit a PR?

[2022-03-23 19:15] talentlessguy commented on #350
it's up again

[2022-03-23 19:15] #350 closed

[2022-03-24 14:49] mohammedzeglam-pg commented on #351
Hi! Is anybody working on it? Otherwise i could try to fix it if you don't mind

[2022-04-06 19:28] hdemmer opened #353 "CommonJS support"
I tried to swap in tinyhttp for my large-ish express application. Loved the initial experience, types, etc, but ultimately couldn't get it to run because it would have required ESM which I couldn't get to play nice with my ts-node-dev, esbuild, ... setup.

I'd love to use this lib, so I'm wondering what the rationale was behind dropping CommonJS, it's still somewhat widely used in the types of app

[2022-04-06 20:13] talentlessguy commented on #353
it was answered before

CommonJS is a thing of the past. ESM is the future.

[2022-04-06 20:13] #353 closed

[2022-04-08 22:47] #316 closed

[2022-04-11 17:01] Jonatandb opened #354 "(Off-Topic) - Website little typo"
![image](https://user-images.githubusercontent.com/8082172/162792204-ebd74cd5-fb8f-4cbe-a745-77c0d1d69655.png)

[2022-04-11 17:20] talentlessguy commented on #354
please make a PR in the website repository

[2022-04-11 17:20] #354 closed

[2022-04-11 17:22] Jonatandb commented on #354
Sure, could you give me that repo link?
The website links this repo.

[2022-04-22 08:12] 06000208 opened #355 "Utilize res.locals as expected"
**Is your feature request related to a problem? Please describe.**
Unsure if this is a bug report or a feature request, I've gone with the latter as this seems to be unimplemented behavior.

In express, res.locals are a per-request equivalent to app.locals, and the property is mentioned here in tinyhttp:

https://github.com/tinyhttp/tinyhttp/blob/072e75fea7eed2ff341c2b5ca25d8410c8762e7f/packages/a

[2022-04-22 08:26] talentlessguy commented on #355
could you please make a PR with the fix?

[2022-05-14 14:34] pSnehanshu commented on #191
Has there been any progress on the NestJS adapter @KaviiSuri? I am unable find the repo, @talentlessguy was it deleted or made private?

[2022-05-14 14:53] KaviiSuri commented on #191
Hey @talentlessguy even I couldn't see the repo so I thought I shouldn't continue..
Anyway, i have enough time to contribute now, could you just create one so I could get started?

[2022-05-14 14:56] talentlessguy commented on #191
@KaviiSuri made the package public https://github.com/tinyhttp/nest

[2022-05-14 15:28] KaviiSuri commented on #191
Thanks, will get started on this asap.
I may need help on testing it though, I'll contact when I get to it.

[2022-05-25 07:53] wingedrhino opened #357 "Add declarationMap:true to tsconfig for correct ctrl-click go-to-source"
Currently, ctrl+click on a `tinyhttp` export from VS Code goes to the `.d.ts` file instead of going to the function source code. Adding `"declarationMap": true` to `tsconfig.json` would generate `.js.map` files. For example, take a look here https://github.com/wingedrhino/node-pipespawn/tree/master/dist

I'd love to add this to `tinyhttp`, but every other package that's been moved to its own dedic

[2022-05-25 12:00] talentlessguy commented on #357
yeah I'm fine you can make em

[2022-05-28 17:11] jgoux opened #358 "App is seen with type "any" when imported"
Hello 👋, I'm building a small demo repo including full ESM support + Typescript and I have an issue with tinyhttp.

**Describe the bug**

When importing `App` from `@tinyhttp/app`, the type is `any`.

**To Reproduce**

Steps to reproduce the behavior:

1. Clone https://github.com/jgoux/acme
2. Run `yarn`
3. Go to https://github.com/jgoux/acme/blob/main/apps/api/src/index.ts#L7

**Expected behavior

[2022-05-30 10:32] jgoux commented on #358
@talentlessguy Sorry maybe my monorepo starter isn't a great repro.

Here is one more scoped with the bare minimal files showing the issue: https://github.com/jgoux/tinyhttp-repo

Maybe it's something due to TypeScript 4.7 `"module": "NodeNext"` which introduced changes in how ESM modules are seen?

`@tinyhttp/app` is the only ESM module that causes this issue in my monorepo example.

[2022-05-30 10:34] talentlessguy commented on #358
aight, could you submit a PR then to fix this?

[2022-05-30 12:30] jgoux commented on #358
Ok I have some news, I got help on TypeScript's Discord.

The main issue is that in ESM, local files should be imported with their extension explicitly (even in TypeScript):
- https://www.typescriptlang.org/docs/handbook/2/modules.html#modules-in-typescript
- https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c#how-can-i-make-my-typescript-project-output-esm

It's not enforced rig

[2022-06-05 06:21] KaviiSuri commented on #191
Hey @talentlessguy , I started implementing the adapter and I need a little help.
How can I start tinyhttp with https?
I tried doing it with the standard `https` package from node but it doesn't respond with anything.
I was unable to find it in the docs

[2022-06-15 15:32] pSnehanshu commented on #191
Why do you want to do that?

[2022-06-15 16:37] talentlessguy commented on #191
@KaviiSuri HTTPS doesn't work in tests I think, it's a GitHub Actions issue

[2022-08-29 12:57] raymcdermott opened #360 "res.sendFile should respect content type when set"
**Is your feature request related to a problem? Please describe.**
res.sendFile does not get the content type correct 100% of the time and yet it does not respect content type when it is set on the response.

**Describe the solution you'd like**
res.sendFile should respect content type when it is set on the response.

**Describe alternatives you've considered**
I currently read the files locally a

[2022-09-28 06:45] talentlessguy commented on #360
Could you please submit a PR with the bug fix?

[2022-10-09 20:36] rokaicker commented on #360
Hey @talentlessguy, if nobody is looking into this, is it okay if I give it a shot?

But I am wondering, is it known under which circumstances it doesn't get the correct content-type? Ex. specific file types, etc.

[2022-10-11 06:03] talentlessguy commented on #360
@rokaicker sure

I don't know myself but it needs checking

[2022-10-13 12:14] xanaDev commented on #345
Hey @talentlessguy I'd like to give it a shot, can you assign it to me?

[2022-10-13 13:12] talentlessguy commented on #345
@xanaDev done

[2022-10-28 23:22] #345 closed

[2022-10-28 23:22] #360 closed

[2022-11-03 17:56] ismail5701 commented on #92
Hey, I would like to help with `wares/cookie-parser` . Could you please create a subtask for the same?

[2022-11-08 09:58] rubiin commented on #191
@talentlessguy can i work on it

[2022-11-08 09:59] talentlessguy commented on #191
@rubiin yes

[2022-11-08 10:01] talentlessguy commented on #92
@ismailmmd no need to, just submit the PR and link to this issue (write like `related to #92`)

[2022-11-08 10:01] talentlessguy commented on #92
@Khotam take a look at other tasks

[2022-11-08 10:03] talentlessguy commented on #299
Sorry I haven't been working on tinyhttp in some time, does express do the same with error handling?

[2022-11-08 10:03] #299 closed

[2022-11-08 10:04] talentlessguy commented on #52
We moved to Vitest